{% extends "base_public.html" %}

{% block title %}Buffalo Infringement Festival Home{% endblock %}

{% block content %}

<!-- {% load static %} -->

<div class="col-md-12">  
  <div class="row about">
	<h1>About Infringement</h1>
    <p>2018 is the 15th iteration of Infringement in Buffalo.</p>
    <p>The Buffalo Infringement Festival is a non-profit-driven, non-hierarchical grassroots endeavor bringing together a broad range of eclectic, independent, experimental, and controversial art of all forms. Visual, performing, and media arts are all welcome here.</p>
	<p>Taking place in multiple venues in and around Buffalo’s Allentown District, the festival is an annual eleven-day event running from the last weekend of July through the first weekend of August. See the Infringement Festival International's mandate and our 2006 Mission Statement to learn more. [link TBA]</p>
	<p>Read more about the history of Infringement from the original festival. [link TBA]</p>
  </div>
  <div class="row about">
	<h1>Mandate</h1>
    <p>The Infringement Festival is an interdisciplinary festival open to all critical artists. Celebrating freedom of expression and designed as a real arts democracy, this festival is a critical response to the oppressive neoliberal worldview and all its billboard trucks, televisions, flyers, advertisements, jingles, made-for-TV wars; and the depoliticisation of people through this diversionary Spectacle.</p>

	<p>The Infringement Festival welcomes a variety of performances and cultural resistance: theatre groups, performers, street activism, political theatre, musicians, radical performance, visual artists, films, marginalized arts, spoken-word, puppet shows, disadvantaged groups, and anyone wishing to artistically infringe on the monoculture that creeps into every corner of our lives.</p>

	<p>The Infringement Festival aims to emphasize both critical practice in the arts, and artistic practice in activism. It also aims to provide a positive environment that encourages and nurtures critical art.</p>

	<p>To avoid being co-opted, the Infringement Festival follows a mandate:
	<ul>
	<li>The festival is free for all artists and activists to participate in. The festival will never charge a registration fee and participants will keep 100% of their box office less appropriate technical fees, where applicable.</li>
    <li>The festival is open to all critical artists and will never discriminate, set entry criteria, or censor.</li>
    <li>The festival is run as a non-hierarchical arts democracy.</li>
    <li>The festival will only accept ethical companies that pose no conflict of interest as sponsors, as the interests of the festival’s participants come before those of the sponsors.</li>
    <li>The festival will encourage, although not be limited to, progressive acts that encourage discussion and oppose oppressive structures.</li></ul></p>
  </div>
  <div class="row about">
    {% include 'publicsite/social_links.html' %}
  </div>
  <div class="row about">
  	<h2>Paid Advertisers and In-kind Donations - 2017</h2>
  	<p><ul>
	    <li>Allentown Association</li>
	    <li>Allentown Music</li>
	    <li>Allen St. Consulting</li>
	    <li>Villardo Printing</li>
	    <li>Wasteland Studios</li>
	    <li>madjack3dprints.com - Rob Peters</li>
	    <li>JR Audio - Jesse Rejewski</li>
	    <li>Papercraft Miracles - Janna Willoughby-Lohr</li>
	</ul></p>
  </div>
  <div class="row about">
	<h2>Direct Monetary Donations - 2017</h2>
	<p>This festival is run completely on unicorn wishes and happy sunshine rays! Just kidding! There are real dollars that have to go into this grassroots festival for things like equipment, technicians, and most importaintly the printed schedule.</p>
	<p>Our IndieGoGo donors who helped make Infringement possible in 2017: Jay Gilpatrick, Franklin LaVoie, Frank Canino, ravipadman22, smd0987, Alex Obrien, Andrew Delmonte, ncompo, Kittens Delivering Pizza in Outerspace Local 3.1, Dave Pape, Philip Koch, moon7x, Melissa Delmonte + 23 anonymous donors!</p>
	<p>Thanks, everyone!</p>
  </div>
</div>

{% endblock %}
