{% extends "base_public.html" %}
{% load bif_schedule %}

{% block title %}{{groupshow.title}} - Buffalo Infringement Festival Schedule{% endblock %}

{% block style %}
<style>
.listings td { padding-right: 10px }
</style>
{% endblock %}

{% block content %}

{% load static %}

<div class="col-md-12">  
  <article>
    <div class="row">
      <div class="col-sm-12">
        <h1>{{groupshow.title}}</h1>
        <p> {{ groupshow.description }} </p>
        <p> at <a href="/schedule/{{ groupshow.where.id }}/">{{ groupshow.where.name }}</a> </p>
{% if listings %}
<h2>Schedule</h2>
<table class="listings">
{% for l in listings %}
{% bif_listingRow l 0 groupshow.where groupshow %}
{% endfor %}
</table>
{% endif %}
      </div>
    </div>
  </article>
</div>

{% endblock %}
