{% extends "base_public.html" %}

{% block title %}Buffalo Infringement Festival Home{% endblock %}

{% block content %}

<!-- {% load static %} -->

<div class="col-md-12">
  <div class="row home sticky" id="sticky_0">
    <div class="box-content">
      <h2>Applications are closed.</h2>
      <p>The deadline has passed for the 2018 Buffalo Infringement Festival. Organizers are working on programming the festival. Performers, login to view/edit proposals <a href="/db" target="_blank">here</a>!</p>
    </div>
  </div>

  {% if next_event %}
    {% for next in next_event %}

    <div class="row home upcoming-event" id="calendar_0">
      <div class="datetime">
        <span>{{ next.datetime }}</span>
      </div>
      <div class="highlight-badge-right">
        <span>next event</span>
      </div>
      <div class="box-content">
        <h2>{{ next.title }}</h2>
        <p>{{ next.description}}
          {% if next.url %}
          <a href=\"{{ event.url }}\"><i class="fas fa-external-link-alt"></i></a>
          {% endif %}
        </p>
      </div>
    </div>
  {% endfor %}  
  {% endif %}

  <div class="row home sticky" id="sticky_1">
    <div class="box-content">
      <h2>T-Shirts Available</h2>
      <p>2018 T-shirts are going alarmingly fast. They can be purchased <a href="https://www.etsy.com/listing/593122773/flippin-awesome-2018-buffalo?ref=shop_home_active_1" target="_blank">on Etsy <i class="fas fa-external-link-alt"></i></a>.</p>
    </div>
  </div>

  <div class="row home upcoming-event-list" id="calendar_1">
    <div class="box-content">
      <h2>Upcoming Events</h2>
      {% if next_events_list %}
        <ul>
          {% for event in next_events_list %}
            <li>{{ event.datetime }} - {{ event.title }}
              {% if event.url %}
              <a href=\"{{ event.url }}\"><i class="fas fa-external-link-alt"></i></a>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      {% else %}
      <p>No upcoming events scheduled.</p>
      {% endif %}
    </div>
  </div>
  <div class="row home sticky-bottom" id="bottom_0">
    {% include 'publicsite/social_links.html' %}
  </div>
  <div class="row home past-event" id="past_0">
    <div class="datetime">
      <span>Fri Dec 1, 2017</span>
    </div>
    <div class="box-content">
      <h2>Poster Contest Winner</h2>
      <img class="fit-image"
           src="{% static 'publicsite/img/bif2018_600.jpg' %}"
           width="300"
           alt="bif2018 logo">
      <p>The 2018 Official Festival Poster Design Contest is over. The winner is artist, performer, and super-human promoter of the arts in Buffalo--- Pam Swarts! Congratulations, Pam. Her design will be used for the 2018 festival poster, t-shirts, web, and print materials.</p>
    </div>
  </div>
</div>

{% endblock %}
