{% extends "base_public.html" %}

{% block title %}Buffalo Infringement Festival Home{% endblock %}

{% block content %}

<!-- {% load static %} -->

<div class="col-md-12">
  <div class="row home sticky" id="sticky_0">
    <div class="box-content">
      <img class="fit-image" src="{% static 'publicsite/img/bif2018_600.jpg' %}" width="300" alt="bif2018 logo" align="right">
      <h2>2018 Festival: July 26 - August 5</h2>
      <p>The next Buffalo Infringement Festival will take place from Thursday, July 26 to Sunday, August 5.
      <p>The schedule is being planned now.  Watch this space for further details.
    </div>
  </div>
  <div class="row home sticky" id="sticky_1">
    <div class="box-content">
      <h2>Indiegogo fundraiser.</h2>
      <p>The Festival needs your support!  Donate now to our <a href="https://www.indiegogo.com/projects/2018-buffalo-infringement-festival-band-community#/">Indiegogo campaign</a> - find it <a href="https://www.indiegogo.com/projects/2018-buffalo-infringement-festival-band-community#/">here!</a>
    </div>
  </div>

  {% if next_event %}
    {% for next in next_event %}

    <div class="row home upcoming-event" id="calendar_0">
      <div class="datetime">
        <span>{{ next.datetime }}</span>
      </div>
      <div class="highlight-badge-right">
        <span>next event</span>
      </div>
      <div class="box-content">
        <h2>{{ next.title }}</h2>
        <p>{{ next.description}}
          {% if next.url %}
          <a href=\"{{ event.url }}\"><i class="fas fa-external-link-alt"></i></a>
          {% endif %}
        </p>
      </div>
    </div>
  {% endfor %}  
  {% endif %}

  <div class="row home upcoming-event-list" id="calendar_1">
    <div class="box-content">
      <h2>Upcoming Events</h2>
      {% if next_events_list %}
        <ul>
          {% for event in next_events_list %}
            <li>{{ event.datetime }} - {{ event.title }}
              {% if event.url %}
              <a href=\"{{ event.url }}\"><i class="fas fa-external-link-alt"></i></a>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      {% else %}
      <p>No upcoming events scheduled.</p>
      {% endif %}
    </div>
  </div>
  <div class="row home sticky-bottom" id="bottom_0">
    {% include 'publicsite/social_links.html' %}
  </div>
  <div class="row home past-event" id="past_0">
    <div class="datetime">
      <span>Fri Dec 1, 2017</span>
    </div>
    <div class="box-content">
      <h2>Poster Contest Winner</h2>
      <img class="fit-image"
           src="{% static 'publicsite/img/bif2018_600.jpg' %}"
           width="300"
           alt="bif2018 logo">
      <p>The 2018 Official Festival Poster Design Contest is over. The winner is artist, performer, and super-human promoter of the arts in Buffalo--- Pam Swarts! Congratulations, Pam. Her design will be used for the 2018 festival poster, t-shirts, web, and print materials.</p>
    </div>
  </div>
</div>

{% endblock %}
