{% extends "base_public.html" %}

{% block title %}Buffalo Infringement Festival Home{% endblock %}

{% block content %}

<!-- {% load static %} -->

<div class="col-md-12">
  {% if announcements %}
    {% for announcement in announcements %}
    <div class="row home sticky" id="sticky_0">
      <div class="box-content">
        <img class="fit-image" src="{{ announcement.image_url }}" width="300" alt="bif2018 logo" align="right">
        <div>{{ announcement.description_html | safe }}</div>
      </div>
    </div>
    {% endfor %}
  {% endif %}

  {% if next_event %}
    {% for next in next_event %}

    <div class="row home upcoming-event" id="calendar_0">
      <div class="datetime">
        <span>{{ next.datetime }}</span>
      </div>
      <div class="highlight-badge-right">
        <span>next event</span>
      </div>
      <div class="box-content">
        <h2>{{ next.title }}</h2>
        <div>{{ next.description_html | safe }}</div>
      </div>
    </div>
    {% endfor %}  
  {% endif %}

  <div class="row home upcoming-event-list" id="calendar_1">
    <div class="box-content">
      <h2>Upcoming Events</h2>
      {% if next_events_list %}
        <ul>
          {% for event in next_events_list %}
            <li>{{ event.datetime }} - {{ event.title }}
              {% if event.url %}
              <a href="{{ event.url }}"><i class="fas fa-external-link-alt"></i></a>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      {% else %}
      <p>No upcoming events scheduled.</p>
      {% endif %}
    </div>
  </div>
  <div class="row home sticky-bottom" id="bottom_0">
    {% include 'publicsite/social_links.html' %}
  </div>

{% endblock %}
