{% extends "base_public.html" %}
{% load bif_schedule %}

{% block style %}
<style>
th { padding-right: 10px; vertical-align: center }
td { padding-right: 10px }
td.show0 { background-color: #f0f0f0 }
td.show1 { background-color: #f7f7f7 }
td.groupshow0 { background-color: #f0f000; text-align:center }
td.groupshow1 { background-color: #f7f700 }
</style>
{% endblock %}

{% block title %}Calendar - Buffalo Infringement Festival{% endblock %}

{% block content %}

{% load static %}

<div class="col-md-12">  
  <article>
    <div class="row">
      <div class="col-sm-12">
        <h1>Daily calendar</h1>

{% for d in days %}
<h2>{{d.date}}</h2>
<table rules="none" style="table-layout: fixed">
{% bif_calendarTimeHeader d.firsttime d.lasttime %}
{% for v in d.venues %}
{% bif_calendarVenueRow v d.firsttime d.lasttime %}
<tr><td>&nbsp;</td></tr>
{% endfor %}
</table>
<br>
<table>
<tr><td colspan="2">Installations:</td></tr>
{% for l in d.installations %}
{% bif_calendarRow l %}
{% endfor %}
</table>
<br>
{% endfor %}

      </div>
    </div>
  </article>
</div>

{% endblock %}
