{% extends "base_public.html" %}

{% block title %}Schedule - Buffalo Infringement Festival{% endblock %}

{% block content %}

{% load static %}

<div class="col-md-12">  
  <article>
    <div class="row">
      <div class="col-sm-12">
        <h1>Schedule</h1>
<p>
The 2018 Infringement Festival consists of over 300 shows in 80 venues.
<p>
You can view the schedule as:
<li><a href="/schedule/allshows/">a list of all shows</a>
<li><a href="/schedule/allgenres/">a list of shows by genre</a>
<li><a href="/schedule/allvenues/">a list of all venues</a>
<li><a href="/schedule/calendar2/">a daily calendar (by venue)</a>
<li><a href="/schedule/calendar/">a daily calendar (by show time)</a>
</ul>
      </div>
    </div>
  </article>
</div>

{% endblock %}
