{% extends "base_public.html" %}

{% block title %}Schedule - Buffalo Infringement Festival{% endblock %}

{% block content %}

{% load static %}

<div class="col-md-12">  
  <article>
    <div class="row">
      <div class="col-sm-12">
        <h1>Schedule</h1>
<p>
The 2018 Infringement Festival consists of over 300 shows in 80 venues.
<p>
You can view the schedule as:
<li><a href="/schedule/allshows/">a list of all shows</a>
<li><a href="/schedule/allgenres/">a list of shows by genre</a>
<li><a href="/schedule/allvenues/">a list of all venues</a>
<li><a href="/schedule/calendar2/">a daily calendar (by venue)</a>
<br>
<div style="padding-left:4em">
<table style="table-layout:fixed; width:16em">
<tr><th>S<th>M<th>T<th>W<th>T<th>F<th>S</tr>
<tr><td colspan="4">
<td> <a href="/schedule/calendar2/0/">26</a>
<td> <a href="/schedule/calendar2/1/">27</a>
<td> <a href="/schedule/calendar2/2/">28</a>
</tr>
<tr>
<td> <a href="/schedule/calendar2/3/">29</a>
<td> <a href="/schedule/calendar2/4/">30</a>
<td> <a href="/schedule/calendar2/5/">31</a>
<td> <a href="/schedule/calendar2/6/">1</a>
<td> <a href="/schedule/calendar2/6/">2</a>
<td> <a href="/schedule/calendar2/8/">3</a>
<td> <a href="/schedule/calendar2/9/">4</a>
</tr>
<tr>
<td> <a href="/schedule/calendar2/10/">5</a>
</tr>
</table>
</div>
<li><a href="/schedule/calendar/">a daily calendar (by show time)</a>
<br>
<div style="padding-left:4em">
<table style="table-layout:fixed; width:16em">
<tr><th>S<th>M<th>T<th>W<th>T<th>F<th>S</tr>
<tr><td colspan="4">
<td> <a href="/schedule/calendar/0/">26</a>
<td> <a href="/schedule/calendar/1/">27</a>
<td> <a href="/schedule/calendar/2/">28</a>
</tr>
<tr>
<td> <a href="/schedule/calendar/3/">29</a>
<td> <a href="/schedule/calendar/4/">30</a>
<td> <a href="/schedule/calendar/5/">31</a>
<td> <a href="/schedule/calendar/6/">1</a>
<td> <a href="/schedule/calendar/6/">2</a>
<td> <a href="/schedule/calendar/8/">3</a>
<td> <a href="/schedule/calendar/9/">4</a>
</tr>
<tr>
<td> <a href="/schedule/calendar/10/">5</a>
</tr>
</table>
</div>
<li><a href="/schedule/map/">a map of all of today's shows</a>
</ul>
      </div>
    </div>
  </article>
</div>

{% endblock %}
