<div class="social-links-bar">
    <h2>Social Media</h2>
    <p>Discover, follow, and share with artists, audiences, and the Festival.</p>
    <p>
        <a href="https://www.facebook.com/InfringeEveryDay" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>
        <a href="https://www.twitter.com/infringebuffalo" target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
        <a href="https://soundcloud.com/buffalo-infringement" target="_blank"><i class="fab fa-soundcloud fa-2x"></i></a>
        <a href="https://www.flickr.com/groups/infringebuffalo/" target="_blank"><i class="fab fa-flickr fa-2x"></i></a>
        <a href="https://www.youtube.com/channel/UCS1cbOLCnemeraCwCSmW4kQ" target="_blank"><i class="fab fa-youtube fa-2x"></i></a>
        <a href="https://www.instagram.com/explore/tags/infringeeveryday/?hl=en" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
        <a href="https://www.pinterest.com/search/?q=buffalo%20infringement" target="_blank"><i class="fab fa-pinterest fa-2x"></i></a>
    </p>
</div>
