{% extends "base_generic.html" %}

{% block content %}

<h1>Sign in</h1>
<em>Please note: 
<ol>
<li>this is a new system; accounts from past years do not work - you will have to create a new one if you want to sign in
<li>the e-mail address you sign in with is case sensitive - if you created your account as "JaneDoe@Example.com", "janedoe@example.com" won't work; you must log in with the exact same capitalization
<li>if you still have trouble logging in even after checking issues 1 &amp; 2 above, contact depape@buffalo.edu for assistance
</ol>
</em>

{% if form.errors %}
<p>Your e-mail address and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}

<div>
  <td><label for="id_username">E-mail address:</label></td>
  <td>{{ form.username }}</td>
</div>
<div>
  <td>{{ form.password.label_tag }}</td>
  <td>{{ form.password }}</td>
</div>

<div>
  <input type="submit" value="login" />
  <input type="hidden" name="next" value="{{ next }}" />
</div>
</form>

<br>
<p><a href="{% url 'password_reset' %}">Forgot your password?</a></p>

<br><br>
<p>Don't have an account? <a href="{% url 'newAccount' %}">Create one here</a></p>

{% endblock %}
