{% extends "base_generic.html" %}
{% block content %}

<h1>Forgotten password</h1>

<p>
To reset your password, enter the e-mail address that you registered with:
</p>
<form action="" method="post">{% csrf_token %}
    {% if form.email.errors %} {{ form.email.errors }} {% endif %}
        <p>{{ form.email }}</p> 
    <input type="submit" class="btn btn-default btn-lg" value="Reset password" />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'login' %}">Cancel</a>
</form>

{% endblock %}
