<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>{% block title %}Buffalo Infringement Festival{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:700|Open+Sans" rel="stylesheet">

{% load static %}
<link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'publicsite/style.css' %}">
<style>
td.cancelled { text-decoration: line-through; color: #444 }
@media print {
a[href]:after { content: none }
}
</style>
{% block style %}{% endblock %}
{% block scripts %}{% endblock %} 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
  <script src="{% static 'publicsite/site.js' %}">
  </script>
</head>

<body>
 <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#thenavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img id="sitelogo" src="{% static 'publicsite/img/bif_blue_logo.png' %}" alt="Buffalo Infringement Festival"></a>
    </div>
    <div class="collapse navbar-collapse" id="thenavbar">
      <ul class="nav navbar-nav">
        <li><a class="active" href="https://infringebuffalo.org/">Home</a></li>
        <li><a href="/schedule/">Schedule</a></li>
      </ul>
    </div>
  </div>
</nav> 

  <div class="container-fluid">
    <div class="row">
      {% block content %}{% endblock %}
    </div>
  </div>
</body>
</html>
