{% extends "base_generic.html" %}

{% block content %}


{% if batch %}
<h1>{{ batch.name }}</h1>
<p>{{ batch.description }}</p>
<p><a href="{% url 'editEntity' id=batch.id %}">Edit batch</a></p>
<table>
{% for e in members %}
<tr><td><a href="/db/{{ e.id }}">{{ e.name }}</a>{% if e.status == 2 %} (deleted){% elif e.status == 0 %} (waiting){% endif %}</td></tr>
{% endfor %}
</table>
{% else %}
<p>No batch found.  (Shouldn't this 404?)</p>
{% endif %}

<form method="POST" action="{% url 'addToBatch' %}" name="addform">
{% csrf_token %}
<input type="hidden" name="batch" value="{{ batch.id }}">
<select name="show">
{% for p in proposals.all %}
<option value="{{ p.id }}">{{ p.title }}</option>
{% endfor %}
</select>
<input type="Submit" name="submit" value="Add to batch" />
</form>


{% endblock %}
