{% extends "base_generic.html" %}

{% block content %}


{% if batch %}
<h1>{{ batch.name }}</h1>
<div class="row">
<div class="col-sm-8">
<p>{{ batch.description }}</p>
<table>
{% for e in members %}
<tr><td><a href="/db/{{ e.id }}">{{ e.name }}</a>{% if e.status == 2 %} (deleted){% elif e.status == 0 %} (waiting){% endif %}</td></tr>
{% endfor %}
</table>
{% else %}
<p>No batch found.  (Shouldn't this 404?)</p>
{% endif %}
</div>

{% if perms.db.can_schedule %}
<div class="col-sm-4">
<p><a href="{% url 'editEntity' id=batch.id %}">edit batch</a></p>
<p>
<a href="{% url 'batchEmails' batch.id %}">email addresses</a>
</p>
</div>
{% endif %}

{% endblock %}
