{% extends "base_generic.html" %}

{% block title %}Buffalo Infringement Festival Music Proposal{% endblock %}

{% block style %}
<style>
.avail td { padding: 10px }
.avail tr:nth-child(odd) { background-color: #f0f0f0 }
.alternategrey tr:nth-child(odd) { background-color: #f0f0f0 }
.alternategrey td { padding-top: 6px; padding-bottom: 6px }
</style>
{% endblock %}

{% block scripts %}

<script type="text/javascript">
function validateForm()
{
var f = document.forms["proposalform"];
var fields = [ "contactname", "contactemail", "contactphone", "contactaddress", "title", "description_short", "organization", "work_samples_website", "numberperformers", "membersinfo", "out_of_town", "proposaloverlap", "agesensitive" ];
var okay = true;
for (i=0; i < fields.length; i++)
    if ((f[fields[i]].value == null) || (f[fields[i]].value == ""))
        okay = false;
if (!okay)
    {
    alert("All fields marked with * must be filled out before this proposal can be submitted");
    return false;
    }
else
    return true;
}

function hoverFunc(event)
  {
  $(this).parent().find(".helptext").fadeIn()
  }

function unhoverFunc(event)
  {
  $(this).parent().find(".helptext").fadeOut()
  }

function readyFunc()
  {
  $(".questionmark").hover(hoverFunc,unhoverFunc)
  $(".questionmark").parent().find(".helptext").fadeOut()
  }
$(document).ready(readyFunc)
</script>

{% endblock %}

{% block content %}

{% load static %}

<h1>{{ prop }}</h1>
<h2>Music proposal </h2>

<div style="background:#f88; text-align:center">Note: all fields marked with * must be filled in before this form is submitted.</div>

<form method="POST" action="{% url 'update' %}" name="proposalform" onsubmit="return validateForm()">
{% csrf_token %}

<input type="hidden" name="prop_id" value="{{ prop_id }}" />

<div class="contact">
<h3>Contact info</h3>
<table id="contactinputs">
<tr>
<th width='25%'>* Proposer / primary contact</th>
<td><input type='text' name='contactname' size='60' placeholder='' value='{{ prop_info.contactname }}'/></td>
</tr>
<tr>
<th width='25%'>* E-mail</th>
<td><input type='text' name='contactemail' size='60' placeholder='' value='{{ prop_info.contactemail }}'/></td>
</tr>
<tr>
<th width='25%'>* Phone (including area code)</th>
<td><input type='text' name='contactphone' size='60' placeholder='' value='{{ prop_info.contactphone }}'/></td>
</tr>
<tr>
<th width='25%'>* Zip code</th>
<td><input type='text' name='contactaddress' size='60' placeholder='' value='{{ prop_info.contactaddress }}'/></td>
</tr>
<tr>
<th width='25%'>Social media address(es)</th>
<td><input type='text' name='contactfacebook' size='60' placeholder='facebook / instagram / twitter' value='{{ prop_info.contactfacebook }}'/></td>
</tr>
<tr>
<th width='25%'>Best method to contact you</th>
<td><select name='bestcontactmethod'>
<option value='phone'{% if prop_info.bestcontactmethod == "phone" %} selected{% endif %}>phone</option>
<option value='email'{% if prop_info.bestcontactmethod == "email" %} selected{% endif %}>email</option>
<option value='facebook'{% if prop_info.bestcontactmethod == "facebook" %} selected{% endif %}>facebook</option>
</select></td>
</tr>
</table>
<br>
<table>
<tr>
<th width='25%'>Secondary contact name</th>
<td><input type='text' name='secondcontactname' size='60' placeholder='' value='{{ prop_info.secondcontactname }}'/></td>
</tr>
<tr>
<th width='25%'>E-mail</th>
<td><input type='text' name='secondcontactemail' size='60' placeholder='' value='{{ prop_info.secondcontactemail }}'/></td>
</tr>
<tr>
<th width='25%'>Phone (including area code)</th>
<td><input type='text' name='secondcontactphone' size='60' placeholder='' value='{{ prop_info.secondcontactphone }}'/></td>
</tr>
</table>

<div class='projectForm'>
<h3>Project</h3>
<table class='alternategrey'>
<tr>
<th width='25%'>* Band name / title</th>
<td><input type='text' name='title' size='60' placeholder='' value='{{ prop_info.title }}'/></td>
</tr>
<tr>
<th width='25%'>* Affiliations? Part of a collective? if so what group...</th>
<td><input type='text' name='organization' size='60' placeholder='' value='{{ prop_info.organization }}'/></td>
</tr>
<tr>
<th width='25%'>Website (not Facebook)</th>
<td><input type='text' name='website' size='60' placeholder='' value='{{ prop_info.website }}'/></td>
</tr>
<tr>
<th width='25%'>Social media address(es)</th>
<td><input type='text' name='facebook' size='60' placeholder='facebook / instagram / twitter' value='{{ prop_info.facebook }}'/></td>
</tr>
<tr>
<th width='25%'>* Web link to best example of what you plan to do</th>
<td><input type='text' name='work_samples_website' size='60' placeholder='a good link will answer most of our questions, to program you effectively' value='{{ prop_info.work_samples_website }}'/></td>
</tr>
<tr>
<th width='25%'>* Short description (140 chars)</th>
<td><textarea name='description_short' rows='2' cols='60' placeholder='This is what people will see in the free weekly paper.  Limited to 140 characters; be succinct.'>{{ prop_info.description_short }}</textarea></td>
</tr>
<tr>
<th width='25%'>Long description (for website &amp; press releases)</th>
<td><textarea name='description_long' rows='6' cols='60' placeholder='This text will be shown publicly on our website.  This is what potential audiences see in the schedule on our site.'>{{ prop_info.description_long }}</textarea></td>
</tr>
<tr>
<th width='25%'>* How many members in proposal? (#)</th>
<td><input type='text' name='numberperformers' size='60' placeholder='' value='{{ prop_info.numberperformers }}'/></td>
</tr>
<tr>
<th width='25%'>* Who are they and what do they do?</th>
<td><textarea name='membersinfo' rows='6' cols='60' placeholder=''>{{ prop_info.membersinfo }}</textarea></td>
</tr>
<tr>
<th width='25%'>* Are you based within 60 miles of Buffalo area? Will you need help with housing?</th>
<td><input type='text' name='out_of_town' size='60' placeholder='' value='{{ prop_info.out_of_town }}'/></td>
</tr>
<tr>
<th width='25%'>* Are any of your members in other proposals? Explain.</th>
<td><textarea name='proposaloverlap' rows='2' cols='60' placeholder=''>{{ prop_info.proposaloverlap }}</textarea></td>
</tr>
<tr>
<th width='25%'>Is everyone in the proposal over 21?</th>
<td><select name='over21'><option value='Y'{% if prop_info.over21 == "Y" %} selected{% endif %}>Yes</option><option value='N'{% if prop_info.over21 != "Y" %} selected{% endif %}>No</option></select></td>
</tr>
<tr>
<th width='25%'>Would you like to be scheduled for outdoor performances (sidewalks, porches, yards, parking lots, etc)?</th>
<td><select name='outdoorperformaces'><option value='Y'{% if prop_info.outdoorperformaces == "Y" %} selected{% endif %}>Yes</option><option value='N'{% if prop_info.outdoorperformaces != "Y" %} selected{% endif %}>No</option></select></td>
</tr>
<tr>
<th width='25%'>Where do prefer to be scheduled?</th>
<td><select name='street_preferred'>
<option value='all indoor'{% if prop_info.street_preferred == "all indoor" %} selected{% endif %}>all indoor</option>
<option value='mostly indoor'{% if prop_info.street_preferred == "mostly indoor" %} selected{% endif %}>mostly indoor</option>
<option value='either indoor or outdoor'{% if prop_info.street_preferred == "either indoor or outdoor" %} selected{% endif %}>either indoor or outdoor</option>
<option value='mostly outdoor'{% if prop_info.street_preferred == "mostly outdoor" %} selected{% endif %}>mostly outdoor</option>
<option value='all outdoor'{% if prop_info.street_preferred == "all outdoor" %} selected{% endif %}>all outdoor</option>
</select></td>
</tr>
<tr>
<th width='25%'>Are you willing to perform as part of opening or closing ceremonies? (Money collected from these two events goes to the festival.)</th>
<td><select name='openingclosing'><option value='Y'{% if prop_info.openingclosing == "Y" %} selected{% endif %}>Yes</option><option value='N'{% if prop_info.openingclosing != "Y" %} selected{% endif %}>No</option></select></td>
</tr>
<tr>
<th width='25%'>Desired number of performances</th>
<td><select name='numberperformances'>
<option value='1'{% if prop_info.numberperformances == "1" %} selected{% endif %}>1</option>
<option value='2'{% if prop_info.numberperformances == "2" %} selected{% endif %}>2</option>
<option value='3'{% if prop_info.numberperformances == "3" %} selected{% endif %}>3</option>
</select></td>
</tr>
<tr>
<th width='25%'>Are you open to having more than one performance per day?</th>
<td><select name='morethan1perday'><option value='Y'{% if prop_info.morethan1perday == "Y" %} selected{% endif %}>Yes</option><option value='N'{% if prop_info.morethan1perday != "Y" %} selected{% endif %}>No</option></select></td>
</tr>
<tr>
<th width='25%'>Length of performance: (in minutes)</th>
<td><input type='text' name='showlength' size='60' placeholder='' value='{{ prop_info.showlength }}'/></td>
</tr>
<tr>
<th width='25%'>Is this flexible?</th>
<td><select name='showlengthflexible'><option value='Y'{% if prop_info.showlengthflexible == "Y" %} selected{% endif %}>Yes</option><option value='N'{% if prop_info.showlengthflexible != "Y" %} selected{% endif %}>No</option></select></td>
</tr>
<tr>
<th width='25%'>Setup time (in minutes)</th>
<td><input type='text' name='setuptime' size='60' placeholder='' value='{{ prop_info.setuptime }}'/></td>
</tr>
<tr>
<th width='25%'>Teardown time (in minutes)</th>
<td><input type='text' name='teardowntime' size='60' placeholder='' value='{{ prop_info.teardowntime }}'/></td>
</tr>
<tr>
<th width='25%'>Do you have a prearranged venue?</th>
<td><input type='text' name='prearrangedvenue' size='60' placeholder='' value='{{ prop_info.prearrangedvenue }}'/></td>
</tr>
<tr>
<th width='25%'>Do you have an ideal venue in mind?</th>
<td><input type='text' name='idealvenue' size='60' placeholder='' value='{{ prop_info.idealvenue }}'/></td>
</tr>
<tr>
<th width='25%'>What requirements do you have for your venue?</th>
<td><textarea name='venuerequirements' rows='4' cols='60' placeholder=''>{{ prop_info.venuerequirements }}</textarea></td>
</tr>
<tr>
<th width='25%'>* Is the performance kid-friendly, or does it have age-sensitive content, or neither?</th>
<td><input type='text' name='agesensitive' size='60' placeholder='' value='{{ prop_info.agesensitive }}'/></td>
</tr>
<tr>
<th width='25%'>Proposal secondary categories, if any:</th>
<td><input type='text' name='secondary_category' size='60' placeholder='theatre, dance, visual art, literary, film/video, workshop' value='{{ prop_info.secondary_category }}'/></td>
</tr>
<tr>
<th width='25%'>Are you interested in collaborating (performing in combination with another proposal of the same or different category)?</th>
<td><select name='collaboration'><option value='Y'{% if prop_info.collaboration == "Y" %} selected{% endif %}>Yes</option><option value='N'{% if prop_info.collaboration != "Y" %} selected{% endif %}>No</option></select></td>
</tr>
<tr>
<th width='25%'>If yes, describe the kinds of proposals that might work, and any other info to guide us.</th>
<td><textarea name='collaboration_details' rows='4' cols='60' placeholder=''>{{ prop_info.collaboration_details }}</textarea></td>
</tr>
</table></div>
<div class="projectForm">
<h3>Availability  (click all boxes that apply for each day.)</h3>
<table class="avail">

<tr><th>July 26 (Thu)</th>
<td>
<input type="hidden" name="available_day1_8am" value="no">
<input type="checkbox" name="available_day1_8am" value="yes"{% if prop_info.available_day1_8am == "yes" %} checked{% endif %}>
<label for="available_day1_8am">8am-noon</label>
</td>
<td>
<input type="hidden" name="available_day1_noon" value="no">
<input type="checkbox" name="available_day1_noon" value="yes"{% if prop_info.available_day1_noon == "yes" %} checked{% endif %}>
<label for="available_day1_noon">noon-4pm</label>
</td>
<td>
<input type="hidden" name="available_day1_4pm" value="no">
<input type="checkbox" name="available_day1_4pm" value="yes"{% if prop_info.available_day1_4pm == "yes" %} checked{% endif %}>
<label for="available_day1_4pm">4pm-8pm</label>
</td>
<td>
<input type="hidden" name="available_day1_8pm" value="no">
<input type="checkbox" name="available_day1_8pm" value="yes"{% if prop_info.available_day1_8pm == "yes" %} checked{% endif %}>
<label for="available_day1_8pm">8pm-midnight</label>
</td>
<td>
<input type="hidden" name="available_day1_mid" value="no">
<input type="checkbox" name="available_day1_mid" value="yes"{% if prop_info.available_day1_mid == "yes" %} checked{% endif %}>
<label for="available_day1_mid">midnight-4am</label>
</td>
</tr>
<tr><th>July 27 (Fri)</th>
<td>
<input type="hidden" name="available_day2_8am" value="no">
<input type="checkbox" name="available_day2_8am" value="yes"{% if prop_info.available_day2_8am == "yes" %} checked{% endif %}>
<label for="available_day2_8am">8am-noon</label>
</td>
<td>
<input type="hidden" name="available_day2_noon" value="no">
<input type="checkbox" name="available_day2_noon" value="yes"{% if prop_info.available_day2_noon == "yes" %} checked{% endif %}>
<label for="available_day2_noon">noon-4pm</label>
</td>
<td>
<input type="hidden" name="available_day2_4pm" value="no">
<input type="checkbox" name="available_day2_4pm" value="yes"{% if prop_info.available_day2_4pm == "yes" %} checked{% endif %}>
<label for="available_day2_4pm">4pm-8pm</label>
</td>
<td>
<input type="hidden" name="available_day2_8pm" value="no">
<input type="checkbox" name="available_day2_8pm" value="yes"{% if prop_info.available_day2_8pm == "yes" %} checked{% endif %}>
<label for="available_day2_8pm">8pm-midnight</label>
</td>
<td>
<input type="hidden" name="available_day2_mid" value="no">
<input type="checkbox" name="available_day2_mid" value="yes"{% if prop_info.available_day2_mid == "yes" %} checked{% endif %}>
<label for="available_day2_mid">midnight-4am</label>
</td>
</tr>
<tr><th>July 28 (Sat)</th>
<td>
<input type="hidden" name="available_day3_8am" value="no">
<input type="checkbox" name="available_day3_8am" value="yes"{% if prop_info.available_day3_8am == "yes" %} checked{% endif %}>
<label for="available_day3_8am">8am-noon</label>
</td>
<td>
<input type="hidden" name="available_day3_noon" value="no">
<input type="checkbox" name="available_day3_noon" value="yes"{% if prop_info.available_day3_noon == "yes" %} checked{% endif %}>
<label for="available_day3_noon">noon-4pm</label>
</td>
<td>
<input type="hidden" name="available_day3_4pm" value="no">
<input type="checkbox" name="available_day3_4pm" value="yes"{% if prop_info.available_day3_4pm == "yes" %} checked{% endif %}>
<label for="available_day3_4pm">4pm-8pm</label>
</td>
<td>
<input type="hidden" name="available_day3_8pm" value="no">
<input type="checkbox" name="available_day3_8pm" value="yes"{% if prop_info.available_day3_8pm == "yes" %} checked{% endif %}>
<label for="available_day3_8pm">8pm-midnight</label>
</td>
<td>
<input type="hidden" name="available_day3_mid" value="no">
<input type="checkbox" name="available_day3_mid" value="yes"{% if prop_info.available_day3_mid == "yes" %} checked{% endif %}>
<label for="available_day3_mid">midnight-4am</label>
</td>
</tr>
<tr><th>July 29 (Sun)</th>
<td>
<input type="hidden" name="available_day4_8am" value="no">
<input type="checkbox" name="available_day4_8am" value="yes"{% if prop_info.available_day4_8am == "yes" %} checked{% endif %}>
<label for="available_day4_8am">8am-noon</label>
</td>
<td>
<input type="hidden" name="available_day4_noon" value="no">
<input type="checkbox" name="available_day4_noon" value="yes"{% if prop_info.available_day4_noon == "yes" %} checked{% endif %}>
<label for="available_day4_noon">noon-4pm</label>
</td>
<td>
<input type="hidden" name="available_day4_4pm" value="no">
<input type="checkbox" name="available_day4_4pm" value="yes"{% if prop_info.available_day4_4pm == "yes" %} checked{% endif %}>
<label for="available_day4_4pm">4pm-8pm</label>
</td>
<td>
<input type="hidden" name="available_day4_8pm" value="no">
<input type="checkbox" name="available_day4_8pm" value="yes"{% if prop_info.available_day4_8pm == "yes" %} checked{% endif %}>
<label for="available_day4_8pm">8pm-midnight</label>
</td>
<td>
<input type="hidden" name="available_day4_mid" value="no">
<input type="checkbox" name="available_day4_mid" value="yes"{% if prop_info.available_day4_mid == "yes" %} checked{% endif %}>
<label for="available_day4_mid">midnight-4am</label>
</td>
</tr>
<tr><th>July 30 (Mon)</th>
<td>
<input type="hidden" name="available_day5_8am" value="no">
<input type="checkbox" name="available_day5_8am" value="yes"{% if prop_info.available_day5_8am == "yes" %} checked{% endif %}>
<label for="available_day5_8am">8am-noon</label>
</td>
<td>
<input type="hidden" name="available_day5_noon" value="no">
<input type="checkbox" name="available_day5_noon" value="yes"{% if prop_info.available_day5_noon == "yes" %} checked{% endif %}>
<label for="available_day5_noon">noon-4pm</label>
</td>
<td>
<input type="hidden" name="available_day5_4pm" value="no">
<input type="checkbox" name="available_day5_4pm" value="yes"{% if prop_info.available_day5_4pm == "yes" %} checked{% endif %}>
<label for="available_day5_4pm">4pm-8pm</label>
</td>
<td>
<input type="hidden" name="available_day5_8pm" value="no">
<input type="checkbox" name="available_day5_8pm" value="yes"{% if prop_info.available_day5_8pm == "yes" %} checked{% endif %}>
<label for="available_day5_8pm">8pm-midnight</label>
</td>
<td>
<input type="hidden" name="available_day5_mid" value="no">
<input type="checkbox" name="available_day5_mid" value="yes"{% if prop_info.available_day5_mid == "yes" %} checked{% endif %}>
<label for="available_day5_mid">midnight-4am</label>
</td>
</tr>
<tr><th>July 31 (Tue)</th>
<td>
<input type="hidden" name="available_day6_8am" value="no">
<input type="checkbox" name="available_day6_8am" value="yes"{% if prop_info.available_day6_8am == "yes" %} checked{% endif %}>
<label for="available_day6_8am">8am-noon</label>
</td>
<td>
<input type="hidden" name="available_day6_noon" value="no">
<input type="checkbox" name="available_day6_noon" value="yes"{% if prop_info.available_day6_noon == "yes" %} checked{% endif %}>
<label for="available_day6_noon">noon-4pm</label>
</td>
<td>
<input type="hidden" name="available_day6_4pm" value="no">
<input type="checkbox" name="available_day6_4pm" value="yes"{% if prop_info.available_day6_4pm == "yes" %} checked{% endif %}>
<label for="available_day6_4pm">4pm-8pm</label>
</td>
<td>
<input type="hidden" name="available_day6_8pm" value="no">
<input type="checkbox" name="available_day6_8pm" value="yes"{% if prop_info.available_day6_8pm == "yes" %} checked{% endif %}>
<label for="available_day6_8pm">8pm-midnight</label>
</td>
<td>
<input type="hidden" name="available_day6_mid" value="no">
<input type="checkbox" name="available_day6_mid" value="yes"{% if prop_info.available_day6_mid == "yes" %} checked{% endif %}>
<label for="available_day6_mid">midnight-4am</label>
</td>
</tr>
<tr><th>Aug 1 (Wed)</th>
<td>
<input type="hidden" name="available_day7_8am" value="no">
<input type="checkbox" name="available_day7_8am" value="yes"{% if prop_info.available_day7_8am == "yes" %} checked{% endif %}>
<label for="available_day7_8am">8am-noon</label>
</td>
<td>
<input type="hidden" name="available_day7_noon" value="no">
<input type="checkbox" name="available_day7_noon" value="yes"{% if prop_info.available_day7_noon == "yes" %} checked{% endif %}>
<label for="available_day7_noon">noon-4pm</label>
</td>
<td>
<input type="hidden" name="available_day7_4pm" value="no">
<input type="checkbox" name="available_day7_4pm" value="yes"{% if prop_info.available_day7_4pm == "yes" %} checked{% endif %}>
<label for="available_day7_4pm">4pm-8pm</label>
</td>
<td>
<input type="hidden" name="available_day7_8pm" value="no">
<input type="checkbox" name="available_day7_8pm" value="yes"{% if prop_info.available_day7_8pm == "yes" %} checked{% endif %}>
<label for="available_day7_8pm">8pm-midnight</label>
</td>
<td>
<input type="hidden" name="available_day7_mid" value="no">
<input type="checkbox" name="available_day7_mid" value="yes"{% if prop_info.available_day7_mid == "yes" %} checked{% endif %}>
<label for="available_day7_mid">midnight-4am</label>
</td>
</tr>
<tr><th>Aug 2 (Thu)</th>
<td>
<input type="hidden" name="available_day8_8am" value="no">
<input type="checkbox" name="available_day8_8am" value="yes"{% if prop_info.available_day8_8am == "yes" %} checked{% endif %}>
<label for="available_day8_8am">8am-noon</label>
</td>
<td>
<input type="hidden" name="available_day8_noon" value="no">
<input type="checkbox" name="available_day8_noon" value="yes"{% if prop_info.available_day8_noon == "yes" %} checked{% endif %}>
<label for="available_day8_noon">noon-4pm</label>
</td>
<td>
<input type="hidden" name="available_day8_4pm" value="no">
<input type="checkbox" name="available_day8_4pm" value="yes"{% if prop_info.available_day8_4pm == "yes" %} checked{% endif %}>
<label for="available_day8_4pm">4pm-8pm</label>
</td>
<td>
<input type="hidden" name="available_day8_8pm" value="no">
<input type="checkbox" name="available_day8_8pm" value="yes"{% if prop_info.available_day8_8pm == "yes" %} checked{% endif %}>
<label for="available_day8_8pm">8pm-midnight</label>
</td>
<td>
<input type="hidden" name="available_day8_mid" value="no">
<input type="checkbox" name="available_day8_mid" value="yes"{% if prop_info.available_day8_mid == "yes" %} checked{% endif %}>
<label for="available_day8_mid">midnight-4am</label>
</td>
</tr>
<tr><th>Aug 3 (Fri)</th>
<td>
<input type="hidden" name="available_day9_8am" value="no">
<input type="checkbox" name="available_day9_8am" value="yes"{% if prop_info.available_day9_8am == "yes" %} checked{% endif %}>
<label for="available_day9_8am">8am-noon</label>
</td>
<td>
<input type="hidden" name="available_day9_noon" value="no">
<input type="checkbox" name="available_day9_noon" value="yes"{% if prop_info.available_day9_noon == "yes" %} checked{% endif %}>
<label for="available_day9_noon">noon-4pm</label>
</td>
<td>
<input type="hidden" name="available_day9_4pm" value="no">
<input type="checkbox" name="available_day9_4pm" value="yes"{% if prop_info.available_day9_4pm == "yes" %} checked{% endif %}>
<label for="available_day9_4pm">4pm-8pm</label>
</td>
<td>
<input type="hidden" name="available_day9_8pm" value="no">
<input type="checkbox" name="available_day9_8pm" value="yes"{% if prop_info.available_day9_8pm == "yes" %} checked{% endif %}>
<label for="available_day9_8pm">8pm-midnight</label>
</td>
<td>
<input type="hidden" name="available_day9_mid" value="no">
<input type="checkbox" name="available_day9_mid" value="yes"{% if prop_info.available_day9_mid == "yes" %} checked{% endif %}>
<label for="available_day9_mid">midnight-4am</label>
</td>
</tr>
<tr><th>Aug 4 (Sat)</th>
<td>
<input type="hidden" name="available_day10_8am" value="no">
<input type="checkbox" name="available_day10_8am" value="yes"{% if prop_info.available_day10_8am == "yes" %} checked{% endif %}>
<label for="available_day10_8am">8am-noon</label>
</td>
<td>
<input type="hidden" name="available_day10_noon" value="no">
<input type="checkbox" name="available_day10_noon" value="yes"{% if prop_info.available_day10_noon == "yes" %} checked{% endif %}>
<label for="available_day10_noon">noon-4pm</label>
</td>
<td>
<input type="hidden" name="available_day10_4pm" value="no">
<input type="checkbox" name="available_day10_4pm" value="yes"{% if prop_info.available_day10_4pm == "yes" %} checked{% endif %}>
<label for="available_day10_4pm">4pm-8pm</label>
</td>
<td>
<input type="hidden" name="available_day10_8pm" value="no">
<input type="checkbox" name="available_day10_8pm" value="yes"{% if prop_info.available_day10_8pm == "yes" %} checked{% endif %}>
<label for="available_day10_8pm">8pm-midnight</label>
</td>
<td>
<input type="hidden" name="available_day10_mid" value="no">
<input type="checkbox" name="available_day10_mid" value="yes"{% if prop_info.available_day10_mid == "yes" %} checked{% endif %}>
<label for="available_day10_mid">midnight-4am</label>
</td>
</tr>
<tr><th>Aug 5 (Sun)</th>
<td>
<input type="hidden" name="available_day11_8am" value="no">
<input type="checkbox" name="available_day11_8am" value="yes"{% if prop_info.available_day11_8am == "yes" %} checked{% endif %}>
<label for="available_day11_8am">8am-noon</label>
</td>
<td>
<input type="hidden" name="available_day11_noon" value="no">
<input type="checkbox" name="available_day11_noon" value="yes"{% if prop_info.available_day11_noon == "yes" %} checked{% endif %}>
<label for="available_day11_noon">noon-4pm</label>
</td>
<td>
<input type="hidden" name="available_day11_4pm" value="no">
<input type="checkbox" name="available_day11_4pm" value="yes"{% if prop_info.available_day11_4pm == "yes" %} checked{% endif %}>
<label for="available_day11_4pm">4pm-8pm</label>
</td>
<td>
<input type="hidden" name="available_day11_8pm" value="no">
<input type="checkbox" name="available_day11_8pm" value="yes"{% if prop_info.available_day11_8pm == "yes" %} checked{% endif %}>
<label for="available_day11_8pm">8pm-midnight</label>
</td>
<td>
<input type="hidden" name="available_day11_mid" value="no">
<input type="checkbox" name="available_day11_mid" value="yes"{% if prop_info.available_day11_mid == "yes" %} checked{% endif %}>
<label for="available_day11_mid">midnight-4am</label>
</td>
</tr>
</table></div>
<div class='projectForm'>
<h3>Music specifics</h3>
<table class='alternategrey'>

<tr>
<th width='25%'>Equipment detail - describe your gear</th>
<td><textarea name='equipment_detail' rows='4' cols='60' placeholder=''>{{ prop_info.equipment_detail }}</textarea></td>
</tr>
<tr>
<th width='25%'>Do you own your own PA?  Will you share it for a group show?</th>
<td><input type='text' name='haspa' size='60' placeholder='' value='{{ prop_info.haspa }}'/></td>
</tr>
<tr>
<th width='25%'>Do you require microphones to perform (Y/N)? If so, how many? Do you own your own mics?  Share?</th>
<td><input type='text' name='hasmics' size='60' placeholder='' value='{{ prop_info.hasmics }}'/></td>
</tr>
<tr>
<th width='25%'>Does your proposal involve a computer or electronic component (ipod, laptop, cd player, projector, other)?  If yes, explain.</th>
<td><input type='text' name='electronics' size='60' placeholder='' value='{{ prop_info.electronics }}'/></td>
</tr>
<tr>
<th width='25%'>Do you have a drum kit?  Share?</th>
<td><input type='text' name='hasdrum' size='60' placeholder='' value='{{ prop_info.hasdrum }}'/></td>
</tr>
<tr>
<th width='25%'>Can you play acoustic, without amps and mics? Preferred?</th>
<td><input type='text' name='acoustic' size='60' placeholder='' value='{{ prop_info.acoustic }}'/></td>
</tr>
<tr>
<th width='25%'>Volume on a scale from 1-10</th>
<td><input type='text' name='volume' size='60' placeholder='' value='{{ prop_info.volume }}'/></td>
</tr>
<tr>
<th width='25%'>Primary genre</th>
<td><select name='genre'>
<option value='acoustic'{% if prop_info.genre == "acoustic" %} selected{% endif %}>acoustic</option>
<option value='americana'{% if prop_info.genre == "americana" %} selected{% endif %}>americana</option>
<option value='avant garde'{% if prop_info.genre == "avant garde" %} selected{% endif %}>avant garde</option>
<option value='blues'{% if prop_info.genre == "blues" %} selected{% endif %}>blues</option>
<option value='choral'{% if prop_info.genre == "choral" %} selected{% endif %}>choral</option>
<option value='classical'{% if prop_info.genre == "classical" %} selected{% endif %}>classical</option>
<option value='country'{% if prop_info.genre == "country" %} selected{% endif %}>country</option>
<option value='dance'{% if prop_info.genre == "dance" %} selected{% endif %}>dance</option>
<option value='disco'{% if prop_info.genre == "disco" %} selected{% endif %}>disco</option>
<option value='easy listening'{% if prop_info.genre == "easy listening" %} selected{% endif %}>easy listening</option>
<option value='EDM'{% if prop_info.genre == "EDM" %} selected{% endif %}>EDM</option>
<option value='electronic'{% if prop_info.genre == "electronic" %} selected{% endif %}>electronic</option>
<option value='electronic'{% if prop_info.genre == "electronic" %} selected{% endif %}>electronic</option>
<option value='folk'{% if prop_info.genre == "folk" %} selected{% endif %}>folk</option>
<option value='funk'{% if prop_info.genre == "funk" %} selected{% endif %}>funk</option>
<option value='hardcore'{% if prop_info.genre == "hardcore" %} selected{% endif %}>hardcore</option>
<option value='hip hop'{% if prop_info.genre == "hip hop" %} selected{% endif %}>hip hop</option>
<option value='improv'{% if prop_info.genre == "improv" %} selected{% endif %}>improv</option>
<option value='industrial'{% if prop_info.genre == "industrial" %} selected{% endif %}>industrial</option>
<option value='inspirational - christian & gospel'{% if prop_info.genre == "inspirational - christian & gospel" %} selected{% endif %}>inspirational - christian & gospel</option>
<option value='instrumental'{% if prop_info.genre == "instrumental" %} selected{% endif %}>instrumental</option>
<option value='jam'{% if prop_info.genre == "jam" %} selected{% endif %}>jam</option>
<option value='jazz'{% if prop_info.genre == "jazz" %} selected{% endif %}>jazz</option>
<option value='latin'{% if prop_info.genre == "latin" %} selected{% endif %}>latin</option>
<option value='lo-fi'{% if prop_info.genre == "lo-fi" %} selected{% endif %}>lo-fi</option>
<option value='metal'{% if prop_info.genre == "metal" %} selected{% endif %}>metal</option>
<option value='noise'{% if prop_info.genre == "noise" %} selected{% endif %}>noise</option>
<option value='pop'{% if prop_info.genre == "pop" %} selected{% endif %}>pop</option>
<option value='progressive'{% if prop_info.genre == "progressive" %} selected{% endif %}>progressive</option>
<option value='punk'{% if prop_info.genre == "punk" %} selected{% endif %}>punk</option>
<option value='rap'{% if prop_info.genre == "rap" %} selected{% endif %}>rap</option>
<option value='reggae'{% if prop_info.genre == "reggae" %} selected{% endif %}>reggae</option>
<option value='retro'{% if prop_info.genre == "retro" %} selected{% endif %}>retro</option>
<option value='rock'{% if prop_info.genre == "rock" %} selected{% endif %}>rock</option>
<option value='singer/songwriter'{% if prop_info.genre == "singer/songwriter" %} selected{% endif %}>singer/songwriter</option>
<option value='soul'{% if prop_info.genre == "soul" %} selected{% endif %}>soul</option>
<option value='synth'{% if prop_info.genre == "synth" %} selected{% endif %}>synth</option>
<option value='world'{% if prop_info.genre == "world" %} selected{% endif %}>world</option>
</select></td>
</tr>
<tr>
<th width='25%'>Secondary genre</th>
<td><select name='genre2'>
<option value='acoustic'{% if prop_info.genre2 == "acoustic" %} selected{% endif %}>acoustic</option>
<option value='americana'{% if prop_info.genre2 == "americana" %} selected{% endif %}>americana</option>
<option value='avant garde'{% if prop_info.genre2 == "avant garde" %} selected{% endif %}>avant garde</option>
<option value='blues'{% if prop_info.genre2 == "blues" %} selected{% endif %}>blues</option>
<option value='choral'{% if prop_info.genre2 == "choral" %} selected{% endif %}>choral</option>
<option value='classical'{% if prop_info.genre2 == "classical" %} selected{% endif %}>classical</option>
<option value='country'{% if prop_info.genre2 == "country" %} selected{% endif %}>country</option>
<option value='dance'{% if prop_info.genre2 == "dance" %} selected{% endif %}>dance</option>
<option value='disco'{% if prop_info.genre2 == "disco" %} selected{% endif %}>disco</option>
<option value='easy listening'{% if prop_info.genre2 == "easy listening" %} selected{% endif %}>easy listening</option>
<option value='EDM'{% if prop_info.genre2 == "EDM" %} selected{% endif %}>EDM</option>
<option value='electronic'{% if prop_info.genre2 == "electronic" %} selected{% endif %}>electronic</option>
<option value='electronic'{% if prop_info.genre2 == "electronic" %} selected{% endif %}>electronic</option>
<option value='folk'{% if prop_info.genre2 == "folk" %} selected{% endif %}>folk</option>
<option value='funk'{% if prop_info.genre2 == "funk" %} selected{% endif %}>funk</option>
<option value='hardcore'{% if prop_info.genre2 == "hardcore" %} selected{% endif %}>hardcore</option>
<option value='hip hop'{% if prop_info.genre2 == "hip hop" %} selected{% endif %}>hip hop</option>
<option value='improv'{% if prop_info.genre2 == "improv" %} selected{% endif %}>improv</option>
<option value='industrial'{% if prop_info.genre2 == "industrial" %} selected{% endif %}>industrial</option>
<option value='inspirational - christian & gospel'{% if prop_info.genre2 == "inspirational - christian & gospel" %} selected{% endif %}>inspirational - christian & gospel</option>
<option value='instrumental'{% if prop_info.genre2 == "instrumental" %} selected{% endif %}>instrumental</option>
<option value='jam'{% if prop_info.genre2 == "jam" %} selected{% endif %}>jam</option>
<option value='jazz'{% if prop_info.genre2 == "jazz" %} selected{% endif %}>jazz</option>
<option value='latin'{% if prop_info.genre2 == "latin" %} selected{% endif %}>latin</option>
<option value='lo-fi'{% if prop_info.genre2 == "lo-fi" %} selected{% endif %}>lo-fi</option>
<option value='metal'{% if prop_info.genre2 == "metal" %} selected{% endif %}>metal</option>
<option value='noise'{% if prop_info.genre2 == "noise" %} selected{% endif %}>noise</option>
<option value='pop'{% if prop_info.genre2 == "pop" %} selected{% endif %}>pop</option>
<option value='progressive'{% if prop_info.genre2 == "progressive" %} selected{% endif %}>progressive</option>
<option value='punk'{% if prop_info.genre2 == "punk" %} selected{% endif %}>punk</option>
<option value='rap'{% if prop_info.genre2 == "rap" %} selected{% endif %}>rap</option>
<option value='reggae'{% if prop_info.genre2 == "reggae" %} selected{% endif %}>reggae</option>
<option value='retro'{% if prop_info.genre2 == "retro" %} selected{% endif %}>retro</option>
<option value='rock'{% if prop_info.genre2 == "rock" %} selected{% endif %}>rock</option>
<option value='singer/songwriter'{% if prop_info.genre2 == "singer/songwriter" %} selected{% endif %}>singer/songwriter</option>
<option value='soul'{% if prop_info.genre2 == "soul" %} selected{% endif %}>soul</option>
<option value='synth'{% if prop_info.genre2 == "synth" %} selected{% endif %}>synth</option>
<option value='world'{% if prop_info.genre2 == "world" %} selected{% endif %}>world</option>
</select></td>
</tr>
<tr>
<th width='25%'>Tertiary genre</th>
<td><select name='genre3'>
<option value='acoustic'{% if prop_info.genre3 == "acoustic" %} selected{% endif %}>acoustic</option>
<option value='americana'{% if prop_info.genre3 == "americana" %} selected{% endif %}>americana</option>
<option value='avant garde'{% if prop_info.genre3 == "avant garde" %} selected{% endif %}>avant garde</option>
<option value='blues'{% if prop_info.genre3 == "blues" %} selected{% endif %}>blues</option>
<option value='choral'{% if prop_info.genre3 == "choral" %} selected{% endif %}>choral</option>
<option value='classical'{% if prop_info.genre3 == "classical" %} selected{% endif %}>classical</option>
<option value='country'{% if prop_info.genre3 == "country" %} selected{% endif %}>country</option>
<option value='dance'{% if prop_info.genre3 == "dance" %} selected{% endif %}>dance</option>
<option value='disco'{% if prop_info.genre3 == "disco" %} selected{% endif %}>disco</option>
<option value='easy listening'{% if prop_info.genre3 == "easy listening" %} selected{% endif %}>easy listening</option>
<option value='EDM'{% if prop_info.genre3 == "EDM" %} selected{% endif %}>EDM</option>
<option value='electronic'{% if prop_info.genre3 == "electronic" %} selected{% endif %}>electronic</option>
<option value='electronic'{% if prop_info.genre3 == "electronic" %} selected{% endif %}>electronic</option>
<option value='folk'{% if prop_info.genre3 == "folk" %} selected{% endif %}>folk</option>
<option value='funk'{% if prop_info.genre3 == "funk" %} selected{% endif %}>funk</option>
<option value='hardcore'{% if prop_info.genre3 == "hardcore" %} selected{% endif %}>hardcore</option>
<option value='hip hop'{% if prop_info.genre3 == "hip hop" %} selected{% endif %}>hip hop</option>
<option value='improv'{% if prop_info.genre3 == "improv" %} selected{% endif %}>improv</option>
<option value='industrial'{% if prop_info.genre3 == "industrial" %} selected{% endif %}>industrial</option>
<option value='inspirational - christian & gospel'{% if prop_info.genre3 == "inspirational - christian & gospel" %} selected{% endif %}>inspirational - christian & gospel</option>
<option value='instrumental'{% if prop_info.genre3 == "instrumental" %} selected{% endif %}>instrumental</option>
<option value='jam'{% if prop_info.genre3 == "jam" %} selected{% endif %}>jam</option>
<option value='jazz'{% if prop_info.genre3 == "jazz" %} selected{% endif %}>jazz</option>
<option value='latin'{% if prop_info.genre3 == "latin" %} selected{% endif %}>latin</option>
<option value='lo-fi'{% if prop_info.genre3 == "lo-fi" %} selected{% endif %}>lo-fi</option>
<option value='metal'{% if prop_info.genre3 == "metal" %} selected{% endif %}>metal</option>
<option value='noise'{% if prop_info.genre3 == "noise" %} selected{% endif %}>noise</option>
<option value='pop'{% if prop_info.genre3 == "pop" %} selected{% endif %}>pop</option>
<option value='progressive'{% if prop_info.genre3 == "progressive" %} selected{% endif %}>progressive</option>
<option value='punk'{% if prop_info.genre3 == "punk" %} selected{% endif %}>punk</option>
<option value='rap'{% if prop_info.genre3 == "rap" %} selected{% endif %}>rap</option>
<option value='reggae'{% if prop_info.genre3 == "reggae" %} selected{% endif %}>reggae</option>
<option value='retro'{% if prop_info.genre3 == "retro" %} selected{% endif %}>retro</option>
<option value='rock'{% if prop_info.genre3 == "rock" %} selected{% endif %}>rock</option>
<option value='singer/songwriter'{% if prop_info.genre3 == "singer/songwriter" %} selected{% endif %}>singer/songwriter</option>
<option value='soul'{% if prop_info.genre3 == "soul" %} selected{% endif %}>soul</option>
<option value='synth'{% if prop_info.genre3 == "synth" %} selected{% endif %}>synth</option>
<option value='world'{% if prop_info.genre3 == "world" %} selected{% endif %}>world</option>
<option value='other'{% if prop_info.genre3 == "other" %} selected{% endif %}>other</option>
</select></td>
</tr>
</table></div>
<div class='projectForm'>
<h3>Final details</h3>
<table class='alternategrey'>

<tr>
<th width='25%'>In what ways are you willing to volunteer?</th>
<td><textarea name='volunteer' rows='2' cols='60' placeholder='equipment gopher, tech (audio/video/stage/etc), PR distribution, videography/photography, other'>{{ prop_info.volunteer }}</textarea></td>
</tr>
<tr>
<th width='25%'>Anything else we need to know?</th>
<td><input type='text' name='anythingelse' size='60' placeholder='' value='{{ prop_info.anythingelse }}'/></td>
</tr>
<tr>
<th width='25%'>Any questions?</th>
<td><input type='text' name='questions' size='60' placeholder='' value='{{ prop_info.questions }}'/></td>
</tr>
</table></div>
<input type="Submit" name="submit" value="Update" />
</p>
</form>

{% endblock %}
