{% extends "base_generic.html" %}

{% block content %}


{% if batch %}
<h1>Editing batch</h1>

<p>
<form method="POST" action="{% url 'updateBatch' %}" name="batchform" onsubmit="return validateForm()">
{% csrf_token %}
<input type="hidden" name="batch_id" value="{{ batch.id }}" />

<table cellpadding=3>
  <tr><th>Batch name:</th><td> <input type="text" name="name" size="20" value="{{ batch.name }}" /> </td></tr>
  <tr><th>Description:</th><td> <input type="text" name="description" size="60" value="{{ batch.description }}" /> </td></tr>
</table>

<input type="Submit" name="submit" value="Update info" />
</form>
</p>

<table>
{% for e in members %}
<tr><td style="padding-right:1em"><a href="{% url 'removeFromBatch' batch.id e.id %}">[remove]</a></td>
<td><a href="/db/{{ e.id }}">{{ e.name }}</a>{% if e.status == 2 %} (deleted){% elif e.status == 0 %} (waiting){% endif %}</td></tr>
{% endfor %}
</table>
<form method="get" action="{% url 'entity' batch.id %}"><button type="submit">done</button></form>

<form method="POST" action="{% url 'addToBatch' %}" name="addform">
{% csrf_token %}
<input type="hidden" name="batch" value="{{ batch.id }}">
<select name="show">
{% for p in proposals.all %}
<option value="{{ p.id }}">{{ p.title }}</option>
{% endfor %}
</select>
<input type="Submit" name="submit" value="Add to batch" />
</form>

{% else %}
<p>No batch found.  (Shouldn't this 404?)</p>
{% endif %}

{% endblock %}
