{% extends "base_generic.html" %}

{% block title %}Buffalo Infringement Festival Education/Workshop Proposal{% endblock %}

{% block style %}
<style>
.avail td { padding: 10px }
.avail tr:nth-child(odd) { background-color: #f0f0f0 }
.alternategrey tr:nth-child(odd) { background-color: #f0f0f0 }
.alternategrey td { padding-top: 6px; padding-bottom: 6px }
</style>
{% endblock %}

{% block scripts %}

<script type="text/javascript">
function validateForm()
{
var f = document.forms["proposalform"];
var fields = [ "contactname", "contactemail", "contactphone", "contactaddress", "title", "description_short" ];
var okay = true;
for (i=0; i < fields.length; i++)
    if ((f[fields[i]].value == null) || (f[fields[i]].value == ""))
        okay = false;
if (!okay)
    {
    alert("All fields marked with * must be filled out before this proposal can be submitted");
    return false;
    }
else
    return true;
}

function hoverFunc(event)
  {
  $(this).parent().find(".helptext").fadeIn()
  }

function unhoverFunc(event)
  {
  $(this).parent().find(".helptext").fadeOut()
  }

function readyFunc()
  {
  $(".questionmark").hover(hoverFunc,unhoverFunc)
  $(".questionmark").parent().find(".helptext").fadeOut()
  }
$(document).ready(readyFunc)
</script>

{% endblock %}

{% block content %}

{% load static %}

<h2>Editing Education/Workshop proposal </h2>

<div style="background:#f88; text-align:center">Note: all fields marked with * must be filled in before this form is submitted.</div>

<form method="POST" action="{% url 'db-update' %}" name="proposalform" onsubmit="return validateForm()">
{% csrf_token %}

<input type="hidden" name="prop_id" value="{{ prop_id }}" />
<input type="hidden" name="type" value="workshop" />

<div class="contact">
<h3>Contact info</h3>
<table id="contactinputs">
<tr>
<th width='25%'>* Proposer / primary contact</th>
<td><input type='text' name='contactname' size='60' placeholder='' value='{{ prop_info.contactname }}'/></td>
</tr>
<tr>
<th width='25%'>* E-mail</th>
<td><input type='text' name='contactemail' size='60' placeholder='' value='{{ prop_info.contactemail }}'/></td>
</tr>
<tr>
<th width='25%'>* Phone (including area code)</th>
<td><input type='text' name='contactphone' size='60' placeholder='' value='{{ prop_info.contactphone }}'/></td>
</tr>
<tr>
<th width='25%'>* Zip code</th>
<td><input type='text' name='contactaddress' size='60' placeholder='' value='{{ prop_info.contactaddress }}'/></td>
</tr>
<tr>
<th width='25%'>Social media address(es)</th>
<td><input type='text' name='contactfacebook' size='60' placeholder='facebook / instagram / twitter' value='{{ prop_info.contactfacebook }}'/></td>
</tr>
<tr>
<th width='25%'>Best method to contact you</th>
<td><select name='bestcontactmethod'>
<option value='phone'{% if prop_info.bestcontactmethod == "phone" %} selected{% endif %}>phone</option>
<option value='email'{% if prop_info.bestcontactmethod == "email" %} selected{% endif %}>email</option>
<option value='facebook'{% if prop_info.bestcontactmethod == "facebook" %} selected{% endif %}>facebook</option>
</select></td>
</tr>
</table>
<br>
<table>
<tr>
<th width='25%'>Secondary contact name</th>
<td><input type='text' name='secondcontactname' size='60' placeholder='' value='{{ prop_info.secondcontactname }}'/></td>
</tr>
<tr>
<th width='25%'>E-mail</th>
<td><input type='text' name='secondcontactemail' size='60' placeholder='' value='{{ prop_info.secondcontactemail }}'/></td>
</tr>
<tr>
<th width='25%'>Phone (including area code)</th>
<td><input type='text' name='secondcontactphone' size='60' placeholder='' value='{{ prop_info.secondcontactphone }}'/></td>
</tr>
</table>

<div class='projectForm'>
<h3>Project</h3>
<table class='alternategrey'>
<tr>
<th width='25%'>* Title</th>
<td><input type='text' name='title' size='60' placeholder='' value='{{ prop_info.title }}'/></td>
</tr>
<tr>
<th width='25%'>Organization</th>
<td><input type='text' name='organization' size='60' placeholder='' value='{{ prop_info.organization }}'/></td>
</tr>
<tr>
<th width='25%'>Website (not Facebook)</th>
<td><input type='text' name='website' size='60' placeholder='' value='{{ prop_info.website }}'/></td>
</tr>
<tr>
<th width='25%'>Social media address(es)</th>
<td><input type='text' name='facebook' size='60' placeholder='facebook / instagram / twitter' value='{{ prop_info.facebook }}'/></td>
</tr>
<tr>
<th width='25%'>Web link to best example of what you plan to do</th>
<td><input type='text' name='work_samples_website' size='60' placeholder='a good link will answer most of our questions, to program you effectively' value='{{ prop_info.work_samples_website }}'/></td>
</tr>
<tr>
<th width='25%'>* Short description (140 chars)</th>
<td><textarea name='description_short' rows='2' cols='60' placeholder=''>{{ prop_info.description_short }}</textarea></td>
</tr>
<tr>
<th width='25%'>Long description (for website &amp; press releases)</th>
<td><textarea name='description_long' rows='6' cols='60' placeholder=''>{{ prop_info.description_long }}</textarea></td>
</tr>
<tr>
<th width='25%'>How many people will be teaching/running the workshop? (#)</th>
<td><input type='text' name='numberperformers' size='60' placeholder='' value='{{ prop_info.numberperformers }}'/></td>
</tr>
<tr>
<th width='25%'>Who are they and what are their roles?</th>
<td><textarea name='membersinfo' rows='6' cols='60' placeholder=''>{{ prop_info.membersinfo }}</textarea></td>
</tr>
<tr>
<th width='25%'>Are you based within 60 miles of Buffalo area? Will you need help with housing?</th>
<td><input type='text' name='out_of_town' size='60' placeholder='' value='{{ prop_info.out_of_town }}'/></td>
</tr>
<tr>
<th width='25%'>Are any of your group members in other proposals? Explain.</th>
<td><textarea name='proposaloverlap' rows='2' cols='60' placeholder=''>{{ prop_info.proposaloverlap }}</textarea></td>
</tr>
<tr>
<th width='25%'>Is everyone in proposal over 21?</th>
<td><select name='over21'><option value='Y'{% if prop_info.over21 == "Y" %} selected{% endif %}>Yes</option><option value='N'{% if prop_info.over21 != "Y" %} selected{% endif %}>No</option></select></td>
</tr>
<tr>
<th width='25%'>Would you like to be scheduled outdoors (sidewalks, porches, yards, parking lots, etc)?</th>
<td><select name='outdoorperformaces'><option value='Y'{% if prop_info.outdoorperformaces == "Y" %} selected{% endif %}>Yes</option><option value='N'{% if prop_info.outdoorperformaces != "Y" %} selected{% endif %}>No</option></select></td>
</tr>
<tr>
<th width='25%'>Where do prefer to be scheduled?</th>
<td><select name='street_preferred'>
<option value='all indoor'{% if prop_info.street_preferred == "all indoor" %} selected{% endif %}>all indoor</option>
<option value='mostly indoor'{% if prop_info.street_preferred == "mostly indoor" %} selected{% endif %}>mostly indoor</option>
<option value='either indoor or outdoor'{% if prop_info.street_preferred == "either indoor or outdoor" %} selected{% endif %}>either indoor or outdoor</option>
<option value='mostly outdoor'{% if prop_info.street_preferred == "mostly outdoor" %} selected{% endif %}>mostly outdoor</option>
<option value='all outdoor'{% if prop_info.street_preferred == "all outdoor" %} selected{% endif %}>all outdoor</option>
</select></td>
</tr>
<tr>
<th width='25%'>Desired number of workshops</th>
<td><select name='numberperformances'>
<option value='1'{% if prop_info.numberperformances == "1" %} selected{% endif %}>1</option>
<option value='2'{% if prop_info.numberperformances == "2" %} selected{% endif %}>2</option>
<option value='3'{% if prop_info.numberperformances == "3" %} selected{% endif %}>3</option>
<option value='4'{% if prop_info.numberperformances == "4" %} selected{% endif %}>4</option>
<option value='5'{% if prop_info.numberperformances == "5" %} selected{% endif %}>5</option>
</select></td>
</tr>
<tr>
<th width='25%'>Length of workshop: (in minutes)</th>
<td><input type='text' name='showlength' size='60' placeholder='' value='{{ prop_info.showlength }}'/></td>
</tr>
<tr>
<th width='25%'>Setup time (in minutes)</th>
<td><input type='text' name='setuptime' size='60' placeholder='' value='{{ prop_info.setuptime }}'/></td>
</tr>
<tr>
<th width='25%'>Teardown time (in minutes)</th>
<td><input type='text' name='teardowntime' size='60' placeholder='' value='{{ prop_info.teardowntime }}'/></td>
</tr>
<tr>
<th width='25%'>Do you have a prearranged venue?</th>
<td><input type='text' name='prearrangedvenue' size='60' placeholder='' value='{{ prop_info.prearrangedvenue }}'/></td>
</tr>
<tr>
<th width='25%'>Do you have an ideal venue in mind?</th>
<td><input type='text' name='idealvenue' size='60' placeholder='' value='{{ prop_info.idealvenue }}'/></td>
</tr>
<tr>
<th width='25%'>Is the workshop kid-friendly, or does it have age-sensitive content, or neither?</th>
<td><input type='text' name='agesensitive' size='60' placeholder='' value='{{ prop_info.agesensitive }}'/></td>
</tr>
<tr>
<th width='25%'>Proposal secondary categories, if any:</th>
<td><input type='text' name='secondary_category' size='60' placeholder='theatre, dance, visual art, literary, music, film/video' value='{{ prop_info.secondary_category }}'/></td>
</tr>
</table></div>
<div class="projectForm">
<h3>Availability  (click all boxes that apply for each day.)</h3>
<table class="avail">

<tr><th>July 25 (Thu)</th>
<td>
<input type="hidden" name="available_day1_8am" value="no">
<input type="checkbox" name="available_day1_8am" value="yes"{% if prop_info.available_day1_8am == "yes" %} checked{% endif %}>
<label for="available_day1_8am">8am-noon</label>
</td>
<td>
<input type="hidden" name="available_day1_noon" value="no">
<input type="checkbox" name="available_day1_noon" value="yes"{% if prop_info.available_day1_noon == "yes" %} checked{% endif %}>
<label for="available_day1_noon">noon-4pm</label>
</td>
<td>
<input type="hidden" name="available_day1_4pm" value="no">
<input type="checkbox" name="available_day1_4pm" value="yes"{% if prop_info.available_day1_4pm == "yes" %} checked{% endif %}>
<label for="available_day1_4pm">4pm-8pm</label>
</td>
<td>
<input type="hidden" name="available_day1_8pm" value="no">
<input type="checkbox" name="available_day1_8pm" value="yes"{% if prop_info.available_day1_8pm == "yes" %} checked{% endif %}>
<label for="available_day1_8pm">8pm-midnight</label>
</td>
<td>
<input type="hidden" name="available_day1_mid" value="no">
<input type="checkbox" name="available_day1_mid" value="yes"{% if prop_info.available_day1_mid == "yes" %} checked{% endif %}>
<label for="available_day1_mid">midnight-4am</label>
</td>
</tr>
<tr><th>July 26 (Fri)</th>
<td>
<input type="hidden" name="available_day2_8am" value="no">
<input type="checkbox" name="available_day2_8am" value="yes"{% if prop_info.available_day2_8am == "yes" %} checked{% endif %}>
<label for="available_day2_8am">8am-noon</label>
</td>
<td>
<input type="hidden" name="available_day2_noon" value="no">
<input type="checkbox" name="available_day2_noon" value="yes"{% if prop_info.available_day2_noon == "yes" %} checked{% endif %}>
<label for="available_day2_noon">noon-4pm</label>
</td>
<td>
<input type="hidden" name="available_day2_4pm" value="no">
<input type="checkbox" name="available_day2_4pm" value="yes"{% if prop_info.available_day2_4pm == "yes" %} checked{% endif %}>
<label for="available_day2_4pm">4pm-8pm</label>
</td>
<td>
<input type="hidden" name="available_day2_8pm" value="no">
<input type="checkbox" name="available_day2_8pm" value="yes"{% if prop_info.available_day2_8pm == "yes" %} checked{% endif %}>
<label for="available_day2_8pm">8pm-midnight</label>
</td>
<td>
<input type="hidden" name="available_day2_mid" value="no">
<input type="checkbox" name="available_day2_mid" value="yes"{% if prop_info.available_day2_mid == "yes" %} checked{% endif %}>
<label for="available_day2_mid">midnight-4am</label>
</td>
</tr>
<tr><th>July 27 (Sat)</th>
<td>
<input type="hidden" name="available_day3_8am" value="no">
<input type="checkbox" name="available_day3_8am" value="yes"{% if prop_info.available_day3_8am == "yes" %} checked{% endif %}>
<label for="available_day3_8am">8am-noon</label>
</td>
<td>
<input type="hidden" name="available_day3_noon" value="no">
<input type="checkbox" name="available_day3_noon" value="yes"{% if prop_info.available_day3_noon == "yes" %} checked{% endif %}>
<label for="available_day3_noon">noon-4pm</label>
</td>
<td>
<input type="hidden" name="available_day3_4pm" value="no">
<input type="checkbox" name="available_day3_4pm" value="yes"{% if prop_info.available_day3_4pm == "yes" %} checked{% endif %}>
<label for="available_day3_4pm">4pm-8pm</label>
</td>
<td>
<input type="hidden" name="available_day3_8pm" value="no">
<input type="checkbox" name="available_day3_8pm" value="yes"{% if prop_info.available_day3_8pm == "yes" %} checked{% endif %}>
<label for="available_day3_8pm">8pm-midnight</label>
</td>
<td>
<input type="hidden" name="available_day3_mid" value="no">
<input type="checkbox" name="available_day3_mid" value="yes"{% if prop_info.available_day3_mid == "yes" %} checked{% endif %}>
<label for="available_day3_mid">midnight-4am</label>
</td>
</tr>
<tr><th>July 28 (Sun)</th>
<td>
<input type="hidden" name="available_day4_8am" value="no">
<input type="checkbox" name="available_day4_8am" value="yes"{% if prop_info.available_day4_8am == "yes" %} checked{% endif %}>
<label for="available_day4_8am">8am-noon</label>
</td>
<td>
<input type="hidden" name="available_day4_noon" value="no">
<input type="checkbox" name="available_day4_noon" value="yes"{% if prop_info.available_day4_noon == "yes" %} checked{% endif %}>
<label for="available_day4_noon">noon-4pm</label>
</td>
<td>
<input type="hidden" name="available_day4_4pm" value="no">
<input type="checkbox" name="available_day4_4pm" value="yes"{% if prop_info.available_day4_4pm == "yes" %} checked{% endif %}>
<label for="available_day4_4pm">4pm-8pm</label>
</td>
<td>
<input type="hidden" name="available_day4_8pm" value="no">
<input type="checkbox" name="available_day4_8pm" value="yes"{% if prop_info.available_day4_8pm == "yes" %} checked{% endif %}>
<label for="available_day4_8pm">8pm-midnight</label>
</td>
<td>
<input type="hidden" name="available_day4_mid" value="no">
<input type="checkbox" name="available_day4_mid" value="yes"{% if prop_info.available_day4_mid == "yes" %} checked{% endif %}>
<label for="available_day4_mid">midnight-4am</label>
</td>
</tr>
<tr><th>July 29 (Mon)</th>
<td>
<input type="hidden" name="available_day5_8am" value="no">
<input type="checkbox" name="available_day5_8am" value="yes"{% if prop_info.available_day5_8am == "yes" %} checked{% endif %}>
<label for="available_day5_8am">8am-noon</label>
</td>
<td>
<input type="hidden" name="available_day5_noon" value="no">
<input type="checkbox" name="available_day5_noon" value="yes"{% if prop_info.available_day5_noon == "yes" %} checked{% endif %}>
<label for="available_day5_noon">noon-4pm</label>
</td>
<td>
<input type="hidden" name="available_day5_4pm" value="no">
<input type="checkbox" name="available_day5_4pm" value="yes"{% if prop_info.available_day5_4pm == "yes" %} checked{% endif %}>
<label for="available_day5_4pm">4pm-8pm</label>
</td>
<td>
<input type="hidden" name="available_day5_8pm" value="no">
<input type="checkbox" name="available_day5_8pm" value="yes"{% if prop_info.available_day5_8pm == "yes" %} checked{% endif %}>
<label for="available_day5_8pm">8pm-midnight</label>
</td>
<td>
<input type="hidden" name="available_day5_mid" value="no">
<input type="checkbox" name="available_day5_mid" value="yes"{% if prop_info.available_day5_mid == "yes" %} checked{% endif %}>
<label for="available_day5_mid">midnight-4am</label>
</td>
</tr>
<tr><th>July 30 (Tue)</th>
<td>
<input type="hidden" name="available_day6_8am" value="no">
<input type="checkbox" name="available_day6_8am" value="yes"{% if prop_info.available_day6_8am == "yes" %} checked{% endif %}>
<label for="available_day6_8am">8am-noon</label>
</td>
<td>
<input type="hidden" name="available_day6_noon" value="no">
<input type="checkbox" name="available_day6_noon" value="yes"{% if prop_info.available_day6_noon == "yes" %} checked{% endif %}>
<label for="available_day6_noon">noon-4pm</label>
</td>
<td>
<input type="hidden" name="available_day6_4pm" value="no">
<input type="checkbox" name="available_day6_4pm" value="yes"{% if prop_info.available_day6_4pm == "yes" %} checked{% endif %}>
<label for="available_day6_4pm">4pm-8pm</label>
</td>
<td>
<input type="hidden" name="available_day6_8pm" value="no">
<input type="checkbox" name="available_day6_8pm" value="yes"{% if prop_info.available_day6_8pm == "yes" %} checked{% endif %}>
<label for="available_day6_8pm">8pm-midnight</label>
</td>
<td>
<input type="hidden" name="available_day6_mid" value="no">
<input type="checkbox" name="available_day6_mid" value="yes"{% if prop_info.available_day6_mid == "yes" %} checked{% endif %}>
<label for="available_day6_mid">midnight-4am</label>
</td>
</tr>
<tr><th>July 31 (Wed)</th>
<td>
<input type="hidden" name="available_day7_8am" value="no">
<input type="checkbox" name="available_day7_8am" value="yes"{% if prop_info.available_day7_8am == "yes" %} checked{% endif %}>
<label for="available_day7_8am">8am-noon</label>
</td>
<td>
<input type="hidden" name="available_day7_noon" value="no">
<input type="checkbox" name="available_day7_noon" value="yes"{% if prop_info.available_day7_noon == "yes" %} checked{% endif %}>
<label for="available_day7_noon">noon-4pm</label>
</td>
<td>
<input type="hidden" name="available_day7_4pm" value="no">
<input type="checkbox" name="available_day7_4pm" value="yes"{% if prop_info.available_day7_4pm == "yes" %} checked{% endif %}>
<label for="available_day7_4pm">4pm-8pm</label>
</td>
<td>
<input type="hidden" name="available_day7_8pm" value="no">
<input type="checkbox" name="available_day7_8pm" value="yes"{% if prop_info.available_day7_8pm == "yes" %} checked{% endif %}>
<label for="available_day7_8pm">8pm-midnight</label>
</td>
<td>
<input type="hidden" name="available_day7_mid" value="no">
<input type="checkbox" name="available_day7_mid" value="yes"{% if prop_info.available_day7_mid == "yes" %} checked{% endif %}>
<label for="available_day7_mid">midnight-4am</label>
</td>
</tr>
<tr><th>Aug 1 (Thu)</th>
<td>
<input type="hidden" name="available_day8_8am" value="no">
<input type="checkbox" name="available_day8_8am" value="yes"{% if prop_info.available_day8_8am == "yes" %} checked{% endif %}>
<label for="available_day8_8am">8am-noon</label>
</td>
<td>
<input type="hidden" name="available_day8_noon" value="no">
<input type="checkbox" name="available_day8_noon" value="yes"{% if prop_info.available_day8_noon == "yes" %} checked{% endif %}>
<label for="available_day8_noon">noon-4pm</label>
</td>
<td>
<input type="hidden" name="available_day8_4pm" value="no">
<input type="checkbox" name="available_day8_4pm" value="yes"{% if prop_info.available_day8_4pm == "yes" %} checked{% endif %}>
<label for="available_day8_4pm">4pm-8pm</label>
</td>
<td>
<input type="hidden" name="available_day8_8pm" value="no">
<input type="checkbox" name="available_day8_8pm" value="yes"{% if prop_info.available_day8_8pm == "yes" %} checked{% endif %}>
<label for="available_day8_8pm">8pm-midnight</label>
</td>
<td>
<input type="hidden" name="available_day8_mid" value="no">
<input type="checkbox" name="available_day8_mid" value="yes"{% if prop_info.available_day8_mid == "yes" %} checked{% endif %}>
<label for="available_day8_mid">midnight-4am</label>
</td>
</tr>
<tr><th>Aug 2 (Fri)</th>
<td>
<input type="hidden" name="available_day9_8am" value="no">
<input type="checkbox" name="available_day9_8am" value="yes"{% if prop_info.available_day9_8am == "yes" %} checked{% endif %}>
<label for="available_day9_8am">8am-noon</label>
</td>
<td>
<input type="hidden" name="available_day9_noon" value="no">
<input type="checkbox" name="available_day9_noon" value="yes"{% if prop_info.available_day9_noon == "yes" %} checked{% endif %}>
<label for="available_day9_noon">noon-4pm</label>
</td>
<td>
<input type="hidden" name="available_day9_4pm" value="no">
<input type="checkbox" name="available_day9_4pm" value="yes"{% if prop_info.available_day9_4pm == "yes" %} checked{% endif %}>
<label for="available_day9_4pm">4pm-8pm</label>
</td>
<td>
<input type="hidden" name="available_day9_8pm" value="no">
<input type="checkbox" name="available_day9_8pm" value="yes"{% if prop_info.available_day9_8pm == "yes" %} checked{% endif %}>
<label for="available_day9_8pm">8pm-midnight</label>
</td>
<td>
<input type="hidden" name="available_day9_mid" value="no">
<input type="checkbox" name="available_day9_mid" value="yes"{% if prop_info.available_day9_mid == "yes" %} checked{% endif %}>
<label for="available_day9_mid">midnight-4am</label>
</td>
</tr>
<tr><th>Aug 3 (Sat)</th>
<td>
<input type="hidden" name="available_day10_8am" value="no">
<input type="checkbox" name="available_day10_8am" value="yes"{% if prop_info.available_day10_8am == "yes" %} checked{% endif %}>
<label for="available_day10_8am">8am-noon</label>
</td>
<td>
<input type="hidden" name="available_day10_noon" value="no">
<input type="checkbox" name="available_day10_noon" value="yes"{% if prop_info.available_day10_noon == "yes" %} checked{% endif %}>
<label for="available_day10_noon">noon-4pm</label>
</td>
<td>
<input type="hidden" name="available_day10_4pm" value="no">
<input type="checkbox" name="available_day10_4pm" value="yes"{% if prop_info.available_day10_4pm == "yes" %} checked{% endif %}>
<label for="available_day10_4pm">4pm-8pm</label>
</td>
<td>
<input type="hidden" name="available_day10_8pm" value="no">
<input type="checkbox" name="available_day10_8pm" value="yes"{% if prop_info.available_day10_8pm == "yes" %} checked{% endif %}>
<label for="available_day10_8pm">8pm-midnight</label>
</td>
<td>
<input type="hidden" name="available_day10_mid" value="no">
<input type="checkbox" name="available_day10_mid" value="yes"{% if prop_info.available_day10_mid == "yes" %} checked{% endif %}>
<label for="available_day10_mid">midnight-4am</label>
</td>
</tr>
<tr><th>Aug 4 (Sun)</th>
<td>
<input type="hidden" name="available_day11_8am" value="no">
<input type="checkbox" name="available_day11_8am" value="yes"{% if prop_info.available_day11_8am == "yes" %} checked{% endif %}>
<label for="available_day11_8am">8am-noon</label>
</td>
<td>
<input type="hidden" name="available_day11_noon" value="no">
<input type="checkbox" name="available_day11_noon" value="yes"{% if prop_info.available_day11_noon == "yes" %} checked{% endif %}>
<label for="available_day11_noon">noon-4pm</label>
</td>
<td>
<input type="hidden" name="available_day11_4pm" value="no">
<input type="checkbox" name="available_day11_4pm" value="yes"{% if prop_info.available_day11_4pm == "yes" %} checked{% endif %}>
<label for="available_day11_4pm">4pm-8pm</label>
</td>
<td>
<input type="hidden" name="available_day11_8pm" value="no">
<input type="checkbox" name="available_day11_8pm" value="yes"{% if prop_info.available_day11_8pm == "yes" %} checked{% endif %}>
<label for="available_day11_8pm">8pm-midnight</label>
</td>
<td>
<input type="hidden" name="available_day11_mid" value="no">
<input type="checkbox" name="available_day11_mid" value="yes"{% if prop_info.available_day11_mid == "yes" %} checked{% endif %}>
<label for="available_day11_mid">midnight-4am</label>
</td>
</tr>
</table></div>
<div class='projectForm'>
<h3>Workshop specifics</h3>
<table class='alternategrey'>

<tr>
<th width='25%'>Outline of workshop schedule (list of activities and how long each will take)</th>
<td><textarea name='workshop_schedule' rows='4' cols='60' placeholder=''>{{ prop_info.workshop_schedule }}</textarea></td>
</tr>
<tr>
<th width='25%'>What is the maximum number of participants you can have?</th>
<td><input type='text' name='maxparticipants' size='60' placeholder='' value='{{ prop_info.maxparticipants }}'/></td>
</tr>
<tr>
<th width='25%'>Will you be charging an admission fee? How much? (Infringement requires that admission fees be no more than $10)</th>
<td><input type='text' name='admission' size='60' placeholder='' value='{{ prop_info.admission }}'/></td>
</tr>
<tr>
<th width='25%'>What equipment will you be bringing? (include details on any unusual or unusually large setups)</th>
<td><textarea name='equipment_detail' rows='4' cols='60' placeholder=''>{{ prop_info.equipment_detail }}</textarea></td>
</tr>
<tr>
<th width='25%'>Do you require audio amplification or playback (Y/N)? If so, please give details.</th>
<td><input type='text' name='audio' size='60' placeholder='' value='{{ prop_info.audio }}'/></td>
</tr>
<tr>
<th width='25%'>Do you require a projector/screen?</th>
<td><input type='text' name='projector' size='60' placeholder='' value='{{ prop_info.projector }}'/></td>
</tr>
<tr>
<th width='25%'>Do you require chairs for the audience?</th>
<td><input type='text' name='chairs' size='60' placeholder='' value='{{ prop_info.chairs }}'/></td>
</tr>
<tr>
<th width='25%'>Will you need internet access?</th>
<td><input type='text' name='internet' size='60' placeholder='' value='{{ prop_info.internet }}'/></td>
</tr>
</table></div>
<div class='projectForm'>
<h3>Final details</h3>
<table class='alternategrey'>

<tr>
<th width='25%'>In what ways are you willing to volunteer?</th>
<td><textarea name='volunteer' rows='2' cols='60' placeholder='equipment gopher, tech (audio/video/stage/etc), PR distribution, videography/photography, other'>{{ prop_info.volunteer }}</textarea></td>
</tr>
<tr>
<th width='25%'>Anything else we need to know?</th>
<td><input type='text' name='anythingelse' size='60' placeholder='' value='{{ prop_info.anythingelse }}'/></td>
</tr>
<tr>
<th width='25%'>Any questions?</th>
<td><input type='text' name='questions' size='60' placeholder='' value='{{ prop_info.questions }}'/></td>
</tr>
</table></div>
<input type="Submit" name="submit" value="Update" />
</p>
</form>

{% endblock %}
