{% if inbatches %}
<p> in batches:
<ul>
{% for b in inbatches %}
<li><a href="{% url 'db-entity' b.id %}">{{ b.name }}</a>  <span style="font-size: xx-small"><a href="{% url 'db-removeFromBatch' b.id entity.id %}">[remove]</a></span>
{% endfor %}
</ul>
</p>
{% endif %}

{% if batches %}
<form method="POST" action="{% url 'db-addToBatch' %}" name="addform">
{% csrf_token %}
<input type="hidden" name="show" value="{{ entity.id }}">
<select name="batch">
{% for b in batches %}
<option value="{{ b.id }}">{{ b.name }}</option>
{% endfor %}
</select>
<input type="submit" name="submit" value="Add to batch" />
</form>
{% endif %}
