{% if perms.db.can_schedule %}
{% load db_scheduling %}

{% if listings %}
<table class="listings">
{% for l in listings %}
{% db_listingRow l proposal venue %}
{% endfor %}
</table>
{% endif %}

<div class="schedulebox">[scheduling]<br>
<div class="scheduleForm" id="scheduleEventForm" style="display: block">
<form method="POST" action="{% url 'db-scheduleProposal' %}">
{% csrf_token %}
{% if proposal %}
<input type="hidden" name="proposal" value="{{proposal.id}}" />
{% elif venue %}
<input type="hidden" name="venue" value="{{venue.id}}" />
{% endif %}
<table>
<tr> <td colspan="3"> {% db_horizCalendar %} </td> </tr>
<tr>
<td> Start: {% db_timeMenu 6 28 "starttime" %}
<td>End: {% db_timeMenu 6 28 "endtime" %} </td>
<td><input name="installation" value="1" type="checkbox">Installation
<tr>
<td>
{% if proposal %}
{% db_venueMenu %}
{% else %}
{% db_proposalMenu %}
{% endif %}
<td><input type="text" name="venuenote" value="" size="20" placeholder="venue detail"/> </td>
{# <td>Note:<input type="text" name="note" value="" size="10"/></td> #}
</tr>
<td> <input type="submit" value="Add"> </td>
</tr>
</table>
</form>
</div>
</div>
<br>
{% if venue %}
<div class="schedulebox">[group show]<br>
<div class="scheduleForm" id="scheduleGroupShowForm" style="display: block">
<form method="POST" action="{% url 'db-scheduleGroupShow' %}">
{% csrf_token %}
<input type="hidden" name="venue" value="{{venue.id}}" />
<table>
<tr> <td colspan="3"> {% db_horizCalendar %} </td> </tr>
<tr>
<td>Start: {% db_timeMenu 6 28 "starttime" %}
<td>End: {% db_timeMenu 6 28 "endtime" %} </td>
<tr>
<td><input type="text" name="title" value="" size="20" placeholder="group show title"/> </td>
</tr>
<td> <input type="submit" value="Create group show"> </td>
</tr>
</table>
</form>
</div>
</div>
<br>
{% endif %}
{% endif %}
