{% if perms.db.can_schedule %}
{% load db_scheduling %}

{% if listings %}
<table class="listings">
{% for l in listings %}
{% db_listingRow l proposal venue %}
{% endfor %}
</table>
{% endif %}

<div class="schedulebox">[scheduling]<br>
<div class="scheduleForm" id="scheduleEventForm" style="display: block">
<form method="POST" action="{% url 'db-scheduleProposal' %}">
{% csrf_token %}
{% if proposal %}
<input type="hidden" name="proposal" value="{{proposal.id}}" />
{% elif venue %}
<input type="hidden" name="venue" value="{{venue.id}}" />
{% endif %}
<input type="hidden" name="installation" value="0" />
<table>
<tr>
<td> {% db_smallCalendar %} </td>
<td>
{% if proposal %}
{% db_venueMenu %}
{% else %}
{% db_proposalMenu %}
{% endif %}
<br><input type="text" name="venuenote" value="" size="20" placeholder="venue detail"/> </td>
<td> Start:{% db_timeMenu 6 28 "starttime" %}
<br> End:{% db_timeMenu 6 28 "endtime" %}
<br> <input name="installation" value="1" type="checkbox">Installation
</td>
{# <td>Note:<input type="text" name="note" value="" size="10"/></td> #}
<td> <input type="submit" value="Add"> </td>
</tr>
</table>
</form>
</div>
</div>
{% endif %}
