{% extends "base_generic.html" %}

{% block content %}


{% if user.is_authenticated %}
  <p>Welcome, {{ user }}. Thanks for signing in.</p>
{% if owned %}
<h2>my proposals</h2>
<ul>
{% for p in owned %}
<li><a href="/db/{{ p.entity.id }}/">{% if p.entity.proposal.title == "" %}NEEDS A TITLE{% else %}{{ p.entity.proposal.title }}{% endif %}</a>
{% endfor %}
</ul>
{% endif %}
{% if perms.db.can_schedule %}

{% if confirmed_props %}
<h2>confirmed proposals</h2>
    <ul>
    {% for p in confirmed_props %}
        <li><a href="/db/{{ p.id }}/">{% if p.title == "" %}NEEDS A TITLE{% else %}{{ p.title }}{% endif %}</a> ({{ p.status }})</li>
    {% endfor %}
    </ul>
{% endif %}

{% if waiting_props %}
<h2>proposals waiting for confirmation</h2>
    <ul>
    {% for p in waiting_props %}
        <li><a href="/db/{{ p.id }}/">{% if p.title == "" %}NEEDS A TITLE{% else %}{{ p.title }}{% endif %}</a> ({{ p.status }})</li>
    {% endfor %}
    </ul>
{% endif %}

{% if deleted_props %}
<h2>deleted proposals</h2>
    <ul>
    {% for p in deleted_props %}
        <li><a href="/db/{{ p.id }}/">{% if p.title == "" %}NEEDS A TITLE{% else %}{{ p.title }}{% endif %}</a> ({{ p.status }})</li>
    {% endfor %}
    </ul>
{% endif %}

{% if venue_list %}
<h2>all venues</h2>
    <ul>
    {% for v in venue_list %}
        <li><a href="/db/{{ v.id }}/">{{ v.name }}</a> ({{ v.status }})</li>
    {% endfor %}
    </ul>
{% endif %}

{% endif %}
{% else %}
<img src="/static/bif2018_300px.jpg" align="right">
    <p>Welcome to the new proposal submission system for the 2018 Buffalo Infringement Festival.</p>
    <p>Be aware that you do NOT need to sign in to submit a proposal - just fill out a form below.</p>
{% endif %}

<h2>Submit a proposal</h2>
<ul>
<li><a href="/db/workshopForm/">Education / Workshop</a>
</ul>

{% if perms.db.can_schedule %}
<h2>Venues</h2>
<ul>
<li><a href="/db/venueForm/">Create a new venue</a>
</ul>
{% endif %}

{% endblock %}
