{% extends "base_generic.html" %}

{% block content %}


{% if user.is_authenticated %}
    <p>Welcome, {{ user }}. Thanks for logging in.</p>
{% if prop_list %}
    <ul>
    {% for p in prop_list %}
        <li><a href="/db/{{ p.id }}/">{{ p.title }}</a> ({{ p.status }})</li>
    {% endfor %}
    </ul>
{% else %}
    <p>There are no proposals.</p>
{% endif %}
{% else %}
    <p>Welcome. Please log in, or fill out a proposal.</p>
{% endif %}

<h2>Submit a proposal</h2>
<ul>
<li><a href="/db/musicForm/">Music</a>
</ul>

{% endblock %}
