{% extends "base_generic.html" %}

{% block content %}


{% if user.is_authenticated %}
  <p>Welcome, {{ user }}. Thanks for signing in.</p>
{% if owned %}
<h2>my proposals</h2>
<ul>
{% for p in owned %}
<li><a href="/db/{{ p.entity.id }}/">{{ p.entity.proposal.title }}</a>
{% endfor %}
</ul>
{% endif %}
{% if perms.db.can_schedule %}
{% if prop_list %}
<h2>all proposals</h2>
    <ul>
    {% for p in prop_list %}
        <li><a href="/db/{{ p.id }}/">{{ p.title }}</a> ({{ p.status }})</li>
    {% endfor %}
    </ul>
{% endif %}
{% endif %}
{% else %}
<img src="/static/bif2018_300px.jpg" align="right">
    <p>Welcome to the new proposal submission system for the 2018 Buffalo Infringement Festival.</p>
    <p>Be aware that you do NOT need to sign in to submit a proposal - just fill out a form below.</p>
{% endif %}

<h2>Submit a proposal</h2>
<ul>
<li><a href="/db/musicForm/">Music</a>
<li><a href="/db/theatreForm/">Theatre</a>
<li><a href="/db/visualartForm/">Visual Art</a>
<li><a href="/db/danceForm/">Dance</a>
<li><a href="/db/literaryForm/">Literary</a>
<li><a href="/db/filmForm/">Film / Video</a>
</ul>

{% endblock %}
