{% extends "base_generic.html" %}
{% block title %} Log file {% endblock %}

{% block content %}

<form method="POST" enctype="multipart/form-data" action="{% url 'db-log' %}" name="logform">
{% csrf_token %}
<input type="text" name="searchterm" size="60" value="{{searchterm}}" />
<input type="text" name="numlines" size="5" value="{{numlines}}" />
<input type="Submit" name="submit" value="search" />
</form>

{% if lines %}
<ul>
{% for l in lines %}
<li> {{ l }}
{% endfor %}
</ul>

{% else %}
<p>No log entries found.</p>
{% endif %}

{% endblock %}
