{% extends "base_generic.html" %}

{% block content %}


<p>
Sorry, but '{{ address }}' does not appear to be a valid e-mail address.
<br>
Your proposal has been saved, but please contact Dave Pape (depape@buffalo.edu) to correct the e-mail information,
so that we will be able to be in touch with you.
</p>

<h2>Submit a proposal</h2>
<ul>
<li><a href="/db/musicForm/">Music</a>
<li><a href="/db/theatreForm/">Theatre</a>
<li><a href="/db/visualartForm/">Visual Art</a>
<li><a href="/db/danceForm/">Dance</a>
<li><a href="/db/literaryForm/">Dance</a>
<li><a href="/db/filmForm/">Film / Video</a>
</ul>

{% endblock %}
