{% extends "base_generic.html" %}

{% block content %}

<p>
Thank you - your proposal has been submitted.
</p>
<p>
However, there's one more step.  We have sent you an automated e-mail with the contents
of your proposal.  At the start of that message is a link that you must click in order
to verify that you can receive our e-mails.  Once you've done that, you're in!
</p>
<p>
If you don't see the e-mail in the next few minutes, please check your spam folder.
</p>
<p>
Contact Dave Pape (depape@buffalo.edu) with technical problems.
</p>

{% endblock %}
