{% extends "base_generic.html" %}

{% block content %}


{% if prop %}
<h1>{{ prop.title }}</h1>
<p>Status: {% if prop.status == 0 %} waiting for confirmation {% elif prop.status == 1 %} accepted {% else %} deleted {% endif %}</p>
<p>Festival contact: {% if prop.orgContact %} {{prop.orgContact.user.email}} {% else %} none {% endif %}</p>
{% if inbatches %}
<p> in batches:
{% for b in inbatches %}
<a href="{% url 'entity' b.id %}">{{ b.name }}</a> 
{% endfor %}
</p>
{% endif %}
{% if batches %}
<form method="POST" action="{% url 'addToBatch' %}" name="addform">
{% csrf_token %}
<input type="hidden" name="show" value="{{ prop.id }}">
<select name="batch">
{% for b in batches %}
<option value="{{ b.id }}">{{ b.name }}</option>
{% endfor %}
</select>
<input type="Submit" name="submit" value="Add to batch" />
</form>
{% endif %}
<table>
{% for key,value in prop_info.items %}
<tr><th>{{ key }}</th><td>{{ value }}</td></tr>
{% endfor %}
</table>
{% else %}
<p>No proposal found.  (Shouldn't this 404?)</p>
{% endif %}

{% endblock %}
