{% extends "base_generic.html" %}
{% block title %} Proposal {{prop.title}} {% endblock %}
{% block style %}
<style>
h1.waiting { background-color: #ff0 }
h1.deleted { background-color: #f00 }
h1.accepted { }
.avail td { padding: 20px }
.avail tr:nth-child(odd) { background-color: #f0f0f0 }
.alternategrey tr:nth-child(odd) { background-color: #f0f0f0 }
.alternategrey td { padding-top: 6px; padding-bottom: 6px }
.listings td { padding-right: 10px }
</style>
{% endblock %}

{% block content %}
{% if prop %}

<h1 class="{% if prop.status == prop.WAITING %}waiting{% elif prop.status == prop.ACCEPTED %}accepted{% else %}deleted{% endif %}">{{ prop.title }}</h1>
<div class="row">
<div class="col-sm-8">
<p>Status: {% if prop.status == prop.WAITING %} waiting for confirmation {% elif prop.status == prop.ACCEPTED %} accepted {% else %} deleted {% endif %}</p>
{% if perms.db.can_schedule and owner %}<p>Owner: <a href="{% url 'db-entity' owner.id %}">{{owner.user.email}}</a></p>{% endif %}
<p>Festival contact: {% if prop.orgContact %} {{prop.orgContact.user.email}} {% else %} none {% endif %}</p>
{% if can_see.editlink %}
<p><a href="{% url 'db-editEntity' id=prop.id %}">Edit proposal</a></p>
{% endif %}

<div style="outline: 1px solid grey">
<span style="font-style:italic">Description for print brochure:</span><br>
{{ brochure_info }}
</div>

{% include "./entity_schedule2.html" with proposal=prop %}

<table class='alternategrey'>
{% for f in fieldlist %}
<tr><th width="35%">{{ f.0 }}</td><td>{{ f.1 }}</td></tr>
{% endfor %}
</table>
<p>
</p>
<p>
Availability:
<table class='alternategrey avail'>
<tr><th></th><th>8am</th><th>noon</th><th>4pm</th><th>8pm</th><th>mid</th></tr>
<tr><td>Jul 25 (Thu)</td><td>{{ prop_info.available_day1_8am }}</td><td>{{prop_info.available_day1_noon}}</td><td>{{prop_info.available_day1_4pm}}</td><td>{{prop_info.available_day1_8pm}}</td><td>{{prop_info.available_day1_mid}}</td></tr>
<tr><td>Jul 26 (Fri)</td><td>{{ prop_info.available_day2_8am }}</td><td>{{prop_info.available_day2_noon}}</td><td>{{prop_info.available_day2_4pm}}</td><td>{{prop_info.available_day2_8pm}}</td><td>{{prop_info.available_day2_mid}}</td></tr>
<tr><td>Jul 27 (Sat)</td><td>{{ prop_info.available_day3_8am }}</td><td>{{prop_info.available_day3_noon}}</td><td>{{prop_info.available_day3_4pm}}</td><td>{{prop_info.available_day3_8pm}}</td><td>{{prop_info.available_day3_mid}}</td></tr>
<tr><td>Jul 28 (Sun)</td><td>{{ prop_info.available_day4_8am }}</td><td>{{prop_info.available_day4_noon}}</td><td>{{prop_info.available_day4_4pm}}</td><td>{{prop_info.available_day4_8pm}}</td><td>{{prop_info.available_day4_mid}}</td></tr>
<tr><td>Jul 29 (Mon)</td><td>{{ prop_info.available_day5_8am }}</td><td>{{prop_info.available_day5_noon}}</td><td>{{prop_info.available_day5_4pm}}</td><td>{{prop_info.available_day5_8pm}}</td><td>{{prop_info.available_day5_mid}}</td></tr>
<tr><td>Jul 30 (Tue)</td><td>{{ prop_info.available_day6_8am }}</td><td>{{prop_info.available_day6_noon}}</td><td>{{prop_info.available_day6_4pm}}</td><td>{{prop_info.available_day6_8pm}}</td><td>{{prop_info.available_day6_mid}}</td></tr>
<tr><td>Jul 31 (Wed)</td><td>{{ prop_info.available_day7_8am }}</td><td>{{prop_info.available_day7_noon}}</td><td>{{prop_info.available_day7_4pm}}</td><td>{{prop_info.available_day7_8pm}}</td><td>{{prop_info.available_day7_mid}}</td></tr>
<tr><td>Aug  1 (Thu)</td><td>{{ prop_info.available_day8_8am }}</td><td>{{prop_info.available_day8_noon}}</td><td>{{prop_info.available_day8_4pm}}</td><td>{{prop_info.available_day8_8pm}}</td><td>{{prop_info.available_day8_mid}}</td></tr>
<tr><td>Aug  2 (Fri)</td><td>{{ prop_info.available_day9_8am }}</td><td>{{prop_info.available_day9_noon}}</td><td>{{prop_info.available_day9_4pm}}</td><td>{{prop_info.available_day9_8pm}}</td><td>{{prop_info.available_day9_mid}}</td></tr>
<tr><td>Aug  3 (Sat)</td><td>{{ prop_info.available_day10_8am }}</td><td>{{prop_info.available_day10_noon}}</td><td>{{prop_info.available_day10_4pm}}</td><td>{{prop_info.available_day10_8pm}}</td><td>{{prop_info.available_day10_mid}}</td></tr>
<tr><td>Aug  4 (Sun)</td><td>{{ prop_info.available_day11_8am }}</td><td>{{prop_info.available_day11_noon}}</td><td>{{prop_info.available_day11_4pm}}</td><td>{{prop_info.available_day11_8pm}}</td><td>{{prop_info.available_day11_mid}}</td></tr>
</table>
</p>
</div>

{% if perms.db.can_schedule %}
<div class="col-sm-4">

<p>
{% if prop.status != prop.DELETED %}
<form method="get" action="{% url 'db-deleteProposal' prop.id %}"><button type="submit">delete proposal</button></form>
{% else %}
<form method="get" action="{% url 'db-undeleteProposal' prop.id %}"><button type="submit">undelete proposal</button></form>
{% endif %}
</p>
{% if prop.status == prop.WAITING %}
<p>
<form method="get" action="{% url 'db-reconfirm' prop.id %}"><button type="submit">re-send confirmation mail</button></form>
</p>
{% endif %}
{% include "./entity_batches.html" with entity=prop %}

<br><br>
{% include "./entity_notes.html" with entity=prop %}

</div>{# end div class=col-sm-4 #}
{% endif %}{# end "if can_schedule" #}
</div>{# end "div class=row" #}

{% else %}
<p>No proposal found.  (Shouldn't this 404?)</p>
{% endif %}
{% endblock %}
