{% extends "base_generic.html" %}
{% block content %}
{% if prop %}

<h1>{{ prop.title }}</h1>
<div class="row">
<div class="col-sm-8">
<p>Status: {% if prop.status == prop.WAITING %} waiting for confirmation {% elif prop.status == prop.ACCEPTED %} accepted {% else %} deleted {% endif %}</p>
<p>Festival contact: {% if prop.orgContact %} {{prop.orgContact.user.email}} {% else %} none {% endif %}</p>
<p><a href="{% url 'editEntity' id=prop.id %}">Edit proposal</a></p>
<table>
{% for key,value in prop_info.items %}
<tr><th>{{ key }}</th><td>{{ value }}</td></tr>
{% endfor %}
</table>
</div>

{% if perms.db.can_schedule %}
<div class="col-sm-4">

<p>
{% if prop.status != prop.DELETED %}
<form method="get" action="{% url 'deleteProposal' prop.id %}"><button type="submit">delete proposal</button></form>
{% else %}
<form method="get" action="{% url 'undeleteProposal' prop.id %}"><button type="submit">undelete proposal</button></form>
{% endif %}
</p>
{% if inbatches %}
<p> in batches:
{% for b in inbatches %}
<a href="{% url 'entity' b.id %}">{{ b.name }}</a> 
{% endfor %}
</p>
{% endif %}

{% if batches %}
<form method="POST" action="{% url 'addToBatch' %}" name="addform">
{% csrf_token %}
<input type="hidden" name="show" value="{{ prop.id }}">
<select name="batch">
{% for b in batches %}
<option value="{{ b.id }}">{{ b.name }}</option>
{% endfor %}
</select>
<input type="submit" name="submit" value="Add to batch" />
</form>
{% endif %}{# end "if batches" #}

<br><br>
{% if notes %}
{% for n in notes %}
<div style="border: 1px solid"><span style="background:#bbb">{{ n.creator.user.username}} ({{ n.timestamp }}):</span><br>{{ n.notetext }}</div>
{% endfor %}
{% endif %}
<form method="POST" action="{% url 'addNote' %}" name="addnote">
{% csrf_token %}
<input type="hidden" name="entity" value="{{ prop.id }}">
<textarea name="note" rows="2" cols="30" placeholder="notes can be added now (they can't be edited yet)"></textarea>
<input type="submit" name="submit" value="Add note" />
</form>

</div>{# end div class=col-sm-4 #}
{% endif %}{# end "if can_schedule" #}
</div>{# end "div class=row" #}

{% else %}
<p>No proposal found.  (Shouldn't this 404?)</p>
{% endif %}
{% endblock %}
