{% extends "base_generic.html" %}

{% block title %} Spreadsheet {{spreadsheet.name}} {% endblock %}

{% block style %}
<style>
th { padding-right: 10px }
td { padding-right: 10px }
</style>
{% endblock %}

{% block content %}

<h1>{{ spreadsheet.name }}</h1>
<p>{{spreadsheet.description}}</p>

<p>
TO BE DONE:
<ul>
<li>editing values
<li>updating spreadsheet when something is added to / removed from a batch
</ul>
</p>
<p>
{% if not showcounts %}
<a href="{% url 'db-spreadsheetCounts' spreadsheet.id %}">[spreadsheet with show counts]</a>
{% else %}
<a href="{% url 'db-entity' spreadsheet.id %}">[spreadsheet without show counts]</a>
{% endif %}
</p>

<table>
<tr>
<th></th>
{% if showcounts %}
<th># of listings</th>
{% for d in daylist %}
<th>{{d}}</th>
{% endfor %}
{% endif %}
{% for c in columns %}
<th>{{c}}</th>
{% endfor %}
</tr>
{% for r in rows %}
<tr>
<td><a href="{% url 'db-entity' r.id %}">{{r.title}}</a></td>
{% if showcounts %}
<td>{{r.numlistings}}</td>
{% for c in r.daycount %}
<td>{{c}}</td>
{% endfor %}
{% endif %}
{% for v in r.values %}
<td>{{ v }}</td>
{% endfor %}
</tr>
{% endfor %}
</table>

{% endblock %}
