{% extends "base_generic.html" %}

{% block title %}Buffalo Infringement Festival New Venue Form{% endblock %}

{% block style %}
<style>
.avail td { padding: 10px }
.avail tr:nth-child(odd) { background-color: #f0f0f0 }
.alternategrey tr:nth-child(odd) { background-color: #f0f0f0 }
.alternategrey td { padding-top: 6px; padding-bottom: 6px }
</style>
{% endblock %}

{% block scripts %}

<script type="text/javascript">
function validateForm()
{
var f = document.forms["proposalform"];
var fields = [ "contactname", "contactemail", "contactphone", "name" ];
var okay = true;
for (i=0; i < fields.length; i++)
    if ((f[fields[i]].value == null) || (f[fields[i]].value == ""))
        okay = false;
if (!okay)
    {
    alert("All fields marked with * must be filled out before this proposal can be submitted");
    return false;
    }
else
    return true;
}

function hoverFunc(event)
  {
  $(this).parent().find(".helptext").fadeIn()
  }

function unhoverFunc(event)
  {
  $(this).parent().find(".helptext").fadeOut()
  }

function readyFunc()
  {
  $(".questionmark").hover(hoverFunc,unhoverFunc)
  $(".questionmark").parent().find(".helptext").fadeOut()
  }
$(document).ready(readyFunc)
</script>

{% endblock %}

{% block content %}

{% load static %}

<h1>New venue </h2>

<div style="background:#f88; text-align:center">Note: all fields marked with * must be filled in before this form is submitted.</div>

<form method="POST" action="{% url 'db-createVenue' %}" name="proposalform" onsubmit="return validateForm()">
{% csrf_token %}

<input type="hidden" name="type" value="venue" />

<div class='venueForm'>
<table class='alternategrey'>

<tr>
<th width='25%'>* Venue name</th>
<td><input type='text' name='name' size='60' placeholder=''/></td>
</tr>
<tr>
<th width='25%'>Owner</th>
<td><input type='text' name='ownername' size='60' placeholder=''/></td>
</tr>
<tr>
<th width='25%'>Address</th>
<td><input type='text' name='address' size='60' placeholder=''/></td>
</tr>
<tr>
<th width='25%'>Website</th>
<td><input type='text' name='website' size='60' placeholder=''/></td>
</tr>
<tr>
<th width='25%'>Social media address(es)</th>
<td><input type='text' name='contactfacebook' size='60' placeholder='facebook / instagram / twitter'/></td>
</tr>
<tr>
<th width='25%'>* Contact person</th>
<td><input type='text' name='contactname' size='60' placeholder=''/></td>
</tr>
<tr>
<th width='25%'>* Contact e-mail</th>
<td><input type='text' name='contactemail' size='60' placeholder=''/></td>
</tr>
<tr>
<th width='25%'>* Contact phone</th>
<td><input type='text' name='contactphone' size='60' placeholder=''/></td>
</tr>
<tr>
<th width='25%'>Venue type</th>
<td><input type='text' name='venuetype' size='60' placeholder=''/></td>
</tr>
<tr>
<th width='25%'>Preferred show genres</th>
<td><input type='text' name='preferredgenres' size='60' placeholder='theatre / music / visual art / dance / literary / film / workshop'/></td>
</tr>
<tr>
<th width='25%'>Other allowed genres</th>
<td><input type='text' name='allowedgenres' size='60' placeholder='theatre / music / visual art / dance / literary / film / workshop'/></td>
</tr>
<tr>
<th width='25%'>Performance space</th>
<td><input type='text' name='performancespace' size='60' placeholder='size & description'/></td>
</tr>
<tr>
<th width='25%'>Wall space available?</th>
<td><select name='wallspace'><option value='Y' selected>Yes</option><option value='N'>No</option></select></td>
</tr>
<tr>
<th width='25%'>Wall size</th>
<td><input type='text' name='wallsize' size='60' placeholder=''/></td>
</tr>
<tr>
<th width='25%'>Window?</th>
<td><input type='text' name='window' size='60' placeholder=''/></td>
</tr>
<tr>
<th width='25%'>Capacity</th>
<td><input type='text' name='capacity' size='60' placeholder=''/></td>
</tr>
<tr>
<th width='25%'>Stage?</th>
<td><input type='text' name='stage' size='60' placeholder=''/></td>
</tr>
</table></div>
<div class="projectForm">
<h3>Availability  (what hours can we schedule shows, each day)</h3>
<table class="avail">
{% for d in daylist %}
<tr>
<th>{{ d }}</th>
<td>
<input type="text" name="available_day{{forloop.counter}}" size='60'>
</td>
</tr>
{% endfor %}
</table>
</div>

<input type="Submit" name="submit" value="Submit" />
</p>
</form>

{% endblock %}
