{% extends "base_generic.html" %}
{% block title %} Venue {{venue.name}} {% endblock %}
{% block style %}
<style>
.avail td { padding: 20px }
.avail tr:nth-child(odd) { background-color: #f0f0f0 }
.alternategrey tr:nth-child(odd) { background-color: #f0f0f0 }
.alternategrey td { padding-top: 6px; padding-bottom: 6px }
.listings td { padding-right: 10px }
</style>
{% endblock %}

{% block content %}


{% if venue %}
<h1>{{ venue.name }}</h1>
<div class="row">
<div class="col-sm-8">
<p>Status: {% if venue.status == venue.WAITING %} waiting for confirmation {% elif venue.status == venue.ACCEPTED %} accepted {% else %} deleted {% endif %}</p>
<p><a href="{% url 'db-editEntity' venue.id %}">Edit info</a></p>

{% include "./entity_schedule.html" with venue=venue %}

<table>
{% for key,value in venue_info.items %}
<tr><th>{{ key }}</th><td>{{ value }}</td></tr>
{% endfor %}
</table>
</div>

{% if perms.db.can_schedule %}
<div class="col-sm-4">
<p>
{% if venue.status == venue.WAITING %}
<form method="get" action="{% url 'db-confirmVenue' venue.id %}"><button type="submit">confirm venue</button></form>
{% endif %}
{% if venue.status != venue.DELETED %}
<form method="get" action="{% url 'db-deleteVenue' venue.id %}"><button type="submit">delete venue</button></form>
{% else %}
<form method="get" action="{% url 'db-undeleteVenue' venue.id %}"><button type="submit">undelete venue</button></form>
{% endif %}
</p>
{% include "./entity_batches.html" with entity=venue %}

<br><br>
{% include "./entity_notes.html" with entity=venue %}

</div>{# end div class=col-sm-4 #}
{% endif %}{# end "if can_schedule" #}
</div>{# end "div class=row" #}

{% else %}
<p>No venue found.  (Shouldn't this 404?)</p>
{% endif %}

{% endblock %}
